<template>
  <login-painel>
    <alert-dismissible :msgTitulo="userAlertTitulo" :msgCorpo="userAlertCorpo" :status="userStatus"></alert-dismissible>
    <form @submit.prevent="logar()">

      <div class="form-group has-feedback">
        <input type="email" :class="errors.has('email') ? 'form-control is-invalid' : 'form-control'" placeholder="Email" name='email' v-model="userLogin.email" v-validate="'required|email'">
        <span class="invalid-feedback" v-show="errors.has('email')">{{ errors.first('email') }}</span>
      </div>

      <div class="form-group has-feedback">
        <input type="password" :class="errors.has('senha') ? 'form-control is-invalid' : 'form-control'" placeholder="Senha" name='senha' v-model="userLogin.senha" v-validate="'required'" @keyup.enter="logar">
        <span class="invalid-feedback" v-show="errors.has('senha')">{{ errors.first('senha') }}</span>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox"> Continuar conectado
        </label>
      </div>
      <br>
      <button type="button" class="btn btn-block btn-flat btn-mv-entrar carregaMenu" @click="logar">
        <b>Entrar</b>
      </button>

    </form>
    <br>
    <router-link to="esqueceusenha">
      Esqueceu a senha ?
    </router-link>
    <br>
    <router-link to="registrar">
      Registre-se aqui
    </router-link>
  </login-painel>
</template>

<script>
import LoginPainel from '@/pages/login/components/LoginPainel.vue';
import UserLogin from '@/domain/login/UserLogin.js';
import LoginService from '@/domain/login/LoginService.js';
import AlertDismissible from '@/components/AlertDismissible';
import listaCbo from '@/utils/listCbo.js';
import UsuarioClienteEmpresaService from '@/domain/UsuarioClienteEmpresa/UsuarioClienteEmpresaService.js';
import EventBus from '@/EventBus/event-bus';
import EquipeMedicaService from '@/domain/EquipeMedica/EquipeMedicaService.js';

const usuario = {
  idusuario: null,
  nomeusuario: null,
  fotousuario: null,
  cbousuario: null,
  descCbousuario: null
};

var moment = require('moment');
moment.locale('pt-br');

export default {
  name: 'Login',
  data () {
    return {
      userLogin: new UserLogin(),
      userAlertTitulo: '',
      userAlertCorpo: '',
      userStatus: null,
      listaCbo,
      clienteAcesso: true
    };
  },
  components: {
    LoginPainel,
    AlertDismissible
  },
  methods: {
    logar () {
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            this.userLogin.email = this.userLogin.email.toLowerCase();
            let loader = this.$loading.show();
            this.service.logar(this.userLogin).then((response) => {
              this.service.carregarLogin(this.userLogin.email)
                .then((res) => {
                  this.loadVuexUsuario(res.data[0]);
                  // Verifica se o Usuario está cadastrado em algum clinete.
                  localStorage.setItem('token', response.headers.authorization);
                  this.verificaAcessoCliente(res.data[0].cpf, response.headers.authorization);
                  loader.hide();
                });
            }, response => {
              loader.hide();
              this.userAlertTitulo = 'Atenção!';
              this.userAlertCorpo = 'Usuario ou Senha invalido, tente novamente.';
              this.userStatus = false;
            });
          }
        });
      this.userStatus = null;
    },
    descricaoCbo (cbo) {
      var res = cbo.split('-');
      if (res.length > 2) {
        return res[2].replace(' ', '');
      } else {
        return res[1].replace(' ', '');
      }
    },
    verificaAcessoCliente (cpf, headers) {
      let loader = this.$loading.show();
      this.serviceUseCliEmp
        .buscaClienteUsuario(cpf)
        .then((res) => {
          if (res.data.length) {
            this.cliente = res.data[0];
            this.$store.commit('LOAD_CLIENTE', this.cliente);
            EventBus.$emit('EVENT_CLIENTE_ACESSO', true);
            this.verificaChefeEquipe(res.data[0].cd_prestador, headers);
            loader.hide();
          } else {
            EventBus.$emit('EVENT_CLIENTE_ACESSO', false);
            this.$store.commit('LOGIN', headers);
            this.$router.push('/solicitarAcesso')
            loader.hide();
          }
        }, res => {
          loader.hide();
        });
    },
    loadVuexUsuario (res) {
      usuario.idusuario = res.id;
      usuario.nomeusuario = res.nome;
      usuario.fotousuario = res.foto;
      var aux = res.cbos;
      var cbo = listaCbo.filter(function (elem) {
        return elem.CD_CBO === aux;
      });
      usuario.cbousuario = cbo[0].CD_CBO;
      usuario.descCbousuario = cbo[0].DS_CBO;
      usuario.descCbousuario = this.descricaoCbo(usuario.descCbousuario);
      usuario.email = this.userLogin.email;
      usuario.cpf = res.cpf;
      this.$store.commit('LOAD_USER', usuario);
    },
    verificaChefeEquipe (cdPrestado, headers) {
      var data = moment(this.aux).format('MM/YYYY');
      let loader = this.$loading.show();
      this.serviceEquipeMedica
        .findAllEquipeMedicaPorValor(
          cdPrestado,
          data)
        .then(
          res => {
            if (res.data.length) {
              this.cliente.cd_prestador_chefe = cdPrestado;
              this.$store.commit('LOAD_CLIENTE', this.cliente);
              this.$store.commit('LOGIN', headers);
              this.$router.push('/homeChefe')
              loader.hide();
            } else {
              this.$store.commit('LOGIN', headers);
              this.$router.push('/home')
              loader.hide();
            }
          }, res => {
            loader.hide();
          });
    }
  },
  created () {
    this.service = new LoginService();
    this.serviceUseCliEmp = new UsuarioClienteEmpresaService();
    this.serviceEquipeMedica = new EquipeMedicaService();
  }
};
</script>
