<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <br>

    <br>
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h5 class="m-0 mv-titulo">
              <b>
                {{this.$store.state.route.name}}
              </b>
            </h5>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <b-breadcrumb :items="items" />
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div id="app">
          <div>
            <router-view class="view" keep-alive transition transition-mode="out-in">
            </router-view>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <br>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>
<script>
import EventBus from '@/EventBus/event-bus';
export default {
  name: 'Contente',
  data () {
    return {
      items: []
    }
  },
  created () {
    EventBus.$on('EVENT_BREADCRUMB', (data) => {
      if (data === null) {
        this.items = [];
      } else {
        for (let i = 0; i < this.items.length; i++) {
          if (this.items[i].text === data.text) {
            this.items = this.items.slice(0, i);
          }
        }
        this.items.push(data);
      }
    });
  }
}
</script>
