<template>
  <div>
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom bs-menu menu-port nav-port" style="
    position:  fixed;
">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item pushmenu-sm">
          <a class="nav-link" data-widget="pushmenu" href="#">
            <i class="fa fa-bars"></i>
          </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block mv-titulo-header">
          <span class="" onMouseOver="this.style.color='#4D7498'">
            <b>
              {{this.captalize(this.$store.state.cliente.ds_cliente)}}
            </b>
          </span>
        </li>
        <li class="nav-item" style="cursor: pointer;">
          <a class="nav-link nav-link-icon" @click="openModal">
            <i class="mv-basico-trocar"></i>
          </a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item" style="cursor: pointer;">
          <datepicker :bootstrapStyling="false" input-class="hideDatepickerInput" id="data-calendario" format="MMMM / yyyy" :language="ptBR" ref="programaticOpen" v-model="vModelExample" :minimumView="'month'" :maximumView="'month'" @selected="onDateSelect">
          </datepicker>
          <a tabIndex="1" class="nav-link nav-link-icon" @click="openPicker" @blur="hideDatepicker" style=" outline: none !important;">
            <b class="mv-titulo-header"> {{ this.captalize(aux) }} </b>
            <i class="mv-basico-calendario">
            </i>
          </a>
        </li>
        <li class="nav-item">
          <a v-if="qtd_chamados > 0" @click="limpaNotificacao" class="nav-link nav-link-icon" data-widget="control-sidebar" data-slide="true" href="#">
            <i class="mv-basico-notificacao"></i>
            <span class="badge badge-danger navbar-badge">{{qtd_chamados}}</span>
          </a>
          <a v-else class="nav-link nav-link-icon" data-widget="control-sidebar" data-slide="true" href="#">
            <i class="mv-basico-notificacao"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" @click="sair">
            <i class="mv-basico-sair" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>
    <b-modal class="tituloModal" v-model="show" size="md" id="modal-center" centered title="Selecione um Hospital">
      <b-container fluid>
        <div class="container">
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <label>Empresa</label>
                <div :class="errors.has('cd_cliente') ? 'form-group has-error' : 'form-group'" style="border-color: #DD4B39;">
                  <div :class="errors.has('cd_cliente') ? 'erro-v-select' : ''">
                    <v-select :options="clientes" @input="changedCliente" v-model="cliente" label="ds_cliente" v-validate="'required'" name='cd_cliente' id="cd_cliente" placeholder=" -- Selecione o Cliente -- ">
                      <span slot="no-options">
                        Não encontrado
                      </span>
                    </v-select>
                  </div>
                  <span class="help-block" v-show="errors.has('cd_cliente')">O campo Empresa é obrigatório.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </b-container>
      <div slot="modal-footer" class="w-100; text-align: right">
        <button class="btn-default-mv btn" @click="closeModal">
          Cancelar
        </button>
        <button class="btn-primary-mv btn" @click="salvarHospital">
          Selecionar
        </button>
      </div>
    </b-modal>
  </div>
  <!-- /.navbar -->
</template>
<script>
import Datepicker from 'vuejs-datepicker/dist/vuejs-datepicker.esm.js';
import { ptBR } from 'vuejs-datepicker/dist/locale'
import EventBus from '@/EventBus/event-bus';
import UsuarioClienteEmpresaService from '@/domain/UsuarioClienteEmpresa/UsuarioClienteEmpresaService.js'
import ChamadosService from '@/domain/chamados/ChamadosService.js';
import capitalizer from '@/utils/captalize.js';

var moment = require('moment');
moment.locale('pt-br');
export default {
  name: 'Header',
  mixins: [capitalizer],
  data () {
    return {
      show: false,
      dataescolhida: null,
      vModelExample: null,
      ptBR: ptBR,
      aux: new Date(),
      acessoMenu: false,
      clientes: [],
      cliente: null,
      hospitais: [],
      hospital: null,
      novoCliente: {
        cd_cliente: null,
        ds_cliente: null,
        cd_multi_empresa: null,
        nm_multi_empresa: null
      },
      disabledEmp: true,
      qtd_chamados: null
    }
  },
  components: {
    Datepicker
  },
  methods: {
    openModal () {
      this.errors.clear();
      this.show = true;
      this.carregaCliente();
    },
    closeModal () {
      this.hospital = null;
      this.cliente = null;
      this.show = false;
    },
    carregaCliente () {
      this.usuarioClienteEmpresaService
        .buscaCliente(this.$store.state.user.cpf)
        .then((res) => {
          for (var i = 0; i <= res.data.length; i++) {
            this.clientes = res.data;
          }
        })
    },
    changedCliente () {
      if (this.cliente) {
        this.usuarioClienteEmpresaService
          .buscaUsuarioEmpresa(this.$store.state.user.cpf, this.cliente.cd_cliente)
          .then((res) => {
            this.hospitais = res.data;
            this.disabledEmp = false;
          })
      }
    },
    salvarHospital () {
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            this.novoCliente.cd_cliente = this.cliente.cd_cliente;
            this.novoCliente.nm_multi_empresa = this.hospital.nm_multi_empresa;
            // this.$store.commit('ATUALIZA_CLIENTE', this.novoCliente);
            // EventBus.$emit('ATUALIZA_EMPRESA', this.aux);
            this.$router.push('/home');
          } else {
            this.show = true;
          }
        })
      this.errors.clear();
      this.show = false;
    },
    limpaNotificacao () {
      this.qtd_chamados = 0;
      this.service
        .limpaNotificacao(this.$store.state.cliente.cd_prestador,
          this.$store.state.cliente.cd_cliente)
        .then(
          res => {
            // console.log(res)
          }, err => {
            console.log(err);
          });
    },
    acessoMenus (path) {
      if (this.$store.state.cliente.cd_prestador) {
        return true;
      } else {
        return false;
      }
    },
    sair () {
      this.$store.commit('LOGOUT');
      this.$router.push('/login');
    },
    openPicker () {
      this.$refs.programaticOpen.showCalendar();
    },
    onDateSelect (date) {
      this.aux = moment(date).format('MMMM / YYYY').toUpperCase();
      this.$store.commit('UPDATE_CALENDARIO', this.dataMesAno(date));
      EventBus.$emit(this.$store.state.route.path + '-EVENT_DATA', this.aux);
    },
    dataMesAno (date) {
      let dataInformada = new Date();
      dataInformada = moment(date).format('MM/YYYY');
      return dataInformada;
    },
    hideDatepicker () {
      this.$refs.programaticOpen.close()
    }
  },
  created () {
    this.usuarioClienteEmpresaService = new UsuarioClienteEmpresaService();
    this.serviceUseCliEmp = new UsuarioClienteEmpresaService();
    this.service = new ChamadosService();
    this.$store.commit('UPDATE_CALENDARIO', this.dataMesAno(this.aux));
    this.aux = moment(this.aux).format('MMMM / YYYY').toUpperCase();
    EventBus.$on('EVENT_CLIENTE_ACESSO', (data) => {
      this.acessoMenu = data;
    });
    EventBus.$on('ATUALIZA_NOTIFICACAO', (data) => {
      this.qtd_chamados = data;
    });
  }
}
</script>
<style>
.tituloModal {
  background-color: (greyscale - grey-4);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: (greyscale - black);
}
</style>
