<template>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark scroll">
    <!-- Control sidebar content goes here -->
    <br>
    <div class="titulo">
      <b>Notificações</b>
    <hr>
    </div>
    <ul class="notificacao-list" >
    <li class="notificacao box-body" v-for="item in this.items" :key="item.cd_chamados">
      <div class="box-body-novo" v-if="item.resposta">
          <a class="notificacao-titulo">Chamado Respondido</a>
          <p class="notificacao-info">
            Titulo: {{item.titulo}}
          </p>
          <p class="notificacao-info">
            em {{item.dt_resposta}}
          </p>
      </div>
      <div v-else>
          <a class="notificacao-titulo">Novo Chamado Aberto</a>
          <p class="notificacao-info">
            Titulo: {{item.titulo}}
          </p>
          <p class="notificacao-info">
            em {{item.dt_chamado}}
          </p>
      </div>
    </li>
    </ul>
  </aside>
  <!-- /.control-sidebar -->
</template>

<script>
import ChamadosService from '@/domain/chamados/ChamadosService.js';
import EventBus from '@/EventBus/event-bus';
var moment = require('moment');

export default {
  data () {
    return {
      items: [],
      interval: null,
      quantidade: 0
    }
  },
  name: 'Notification',
  methods: {
    pushNotification () {
      this.quantidade = 0;
      this.service
        .notificacao(this.$store.state.cliente.cd_prestador,
          this.$store.state.cliente.cd_cliente)
        .then(
          res => {
            for (var i = 0; i < res.data.length; i++) {
              res.data[i].dt_chamado = moment(res.data[i].dt_chamado).add(6, 'hours');
              res.data[i].dt_chamado = moment(res.data[i].dt_chamado).format('DD/MM/YYYY HH:mm');
              if (res.data[i].dt_resposta) {
                res.data[i].dt_resposta = moment(res.data[i].dt_resposta).add(6, 'hours');
                res.data[i].dt_resposta = moment(res.data[i].dt_resposta).format('DD/MM/YYYY HH:mm');
              }
              if (res.data[i].sn_lido === 'N') {
                this.quantidade += 1;
              }
            }
            EventBus.$emit('ATUALIZA_NOTIFICACAO', this.quantidade);
            this.items = res.data;
            this.quantidade = res.data.length
          }, err => {
            console.log(err);
          });
    }
  },
  created () {
    this.service = new ChamadosService();
    this.pushNotification();
    this.interval = setInterval(function () {
      this.pushNotification();
    }.bind(this), 5000);
  },
  beforeDestroy () {
    clearInterval(this.interval);
  }
}
</script>
<style>
  .titulo{
    padding: 0.5rem;
    padding-top: 1rem;
    color: #666666;
    border-bottom: 1px solid (greyscale - grey-8);
  }
  .notificacao{
    list-style: none;
    margin-left: 16px;
    padding: 0px;
  }
  .notificacao-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }
  .notificacao-info{
    margin-left: 10px;
    margin-bottom: 0px;
  }
  .notificacao-titulo{
    font-family: 'Open Sans', sans-serif;
    color: #666666 !important;
  }
  .box-body-novo{
    background-color: #fff;
  }
  .scroll{
    overflow: auto !important;
  }
</style>
