<template>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar">
    <!-- Brand Logo -->
    <div class="brand-link line-menu-logo logo">
      <span class="pushmenu-lg">
        <a data-widget="pushmenu" href="#">
          <i class="fa fa-bars"></i>
        </a>
      </span>
      <b>
        <span class="brand-text logo-mini">MV</span>
        <span class="brand-text">Portal Médico</span>
      </b>
    </div>

    <!-- Sidebar -->
    <div class="sidebar elevation-4">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel d-flex logo-user line-menu-logo">
        <div class="image">
          <img v-bind:src="this.foto" class="img-responsive img-circle circle-img-size-sidbar" alt="User Image">
        </div>
        <div class="info info-user">
          <span class="logo-mane-user">
            <span class="logo-mane-user-nome">
              <b>{{ this.captalize(nomeUser(this.$store.state.user.nomeusuario)) }}</b>
            </span>
            <br>
            <span class="logo-mane-user-cbo">
              <b class="mv-descricao">{{ this.$store.state.user.descCbousuario }}</b>
            </span>
          </span>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav>
        <ul class="nav nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <span v-for="(i, index) in routes" :key="index">

            <li class="nav-item" :class="index == 0 ? 'menu-clicado' : null" v-if="!i.submenu" @click="breadcrumb">
              <router-link :to="i.path ? i.path : '/'" class="nav-link menu" v-if="acessoMenus(i.path) ">
                <i :class="i.icon"></i>
                <p>
                  <span class="titulo-menu">
                    {{ i.titulo }}
                  </span>
                </p>
              </router-link>
            </li>

            <li class="nav-item has-treeview" v-if="acessoMenus(i.path) && i.submenu">
              <a href="#" class="nav-link menu">
                <i :class="i.icon"></i>
                <p>
                  <span class="titulo-menu">
                    {{ i.titulo }}
                  </span>
                  <i class="fa fa-angle-right right"></i>
                </p>
              </a>

              <ul class="nav nav-treeview" style="display: none;" v-if="acessoMenus(i.path)">
                <li class="sub-menu-check" v-for="f in i.subRoutes" :key="f.index" @click="breadcrumb">
                  <router-link :to="f.path ? f.path : '/'" class="nav-link sub-menu">
                    <p> {{ f.titulo }}</p>
                    <i class="fa" style="float:right;"></i>
                  </router-link>
                </li>
              </ul>
            </li>
          </span>

        </ul>
      </nav>
      <!--
      <footer class="footer">
        <ul data-widget="treeview" role="menu" data-accordion="false" class="nav nav-sidebar flex-column">
          <li class="nav-item has-treeview hr-top-menu">
            <router-link to="#" class="nav-link menu">
              <i class="mv-basico-ajuda"></i>
              <p>
                <span class="titulo-menu">
                  Ajuda
                </span>
                <i class="fa fa-angle-right right"></i>
              </p>
            </router-link>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="sub-menu-check">
                <router-link to="/./ajuda/suporte" class="nav-link sub-menu">
                  <p>
                    <b>Suporte</b>
                  </p>
                  <i class="fa" style="float: right;"></i>
                </router-link>
              </li>
              <li class="sub-menu-check">
                <router-link to="/ajuda/sobre" class="nav-link sub-menu">
                  <p> Sobre</p>
                  <i class="fa" style="float: right;"></i>
                </router-link>
              </li>
              <hr class="hr-ajuda ">
              <li class="sub-menu-check">
                <router-link to="/ajuda/faq" class="nav-link sub-menu">
                  <p> FAQ</p>
                  <i class="fa" style="float: right;"></i>
                </router-link>
              </li>
              <li class="sub-menu-check">
                <router-link to="/ajuda/guias" class="nav-link sub-menu">
                  <p> Guias</p>
                  <i class="fa" style="float: right;"></i>
                </router-link>
              </li>
              <li class="sub-menu-check">
                <router-link to="/ajuda/manuais" class="nav-link sub-menu">
                  <p> Manuais</p>
                  <i class="fa" style="float: right;"></i>
                </router-link>
              </li>
              <li class="sub-menu-check">
                <router-link to="/ajuda/release" class="nav-link sub-menu">
                  <p> Release Notes</p>
                  <i class="fa" style="float: right;"></i>
                </router-link>
              </li>
              <li class="sub-menu-check">
                <router-link to="/ajuda/informacoes" class="nav-link sub-menu">
                  <p> Informações Técnicas</p>
                  <i class="fa" style="float: right;"></i>
                </router-link>
              </li>
              <hr class="hr-ajuda ">
              <li class="">
                <p class="nav-link sub-menu">
                  suporte@mv.com.br
                  <br> + 55 81 3972-7000
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </footer>
      -->
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>
<script>
import { routes } from '@/router/router'
import EventBus from '@/EventBus/event-bus';
import capitalizer from '@/utils/captalize.js';

export default {
  name: 'Sidebar',
  mixins: [capitalizer],
  data () {
    return {
      routes: routes.filter(route => route.menu),
      acessoMenu: false,
      foto: 'aa'
    }
  },
  methods: {
    updateSideBar (data) {
      if (this.$store.getters.pegaFoto !== null) {
        this.foto = this.$urlfoto + this.$store.getters.pegaFoto;
      } else {
        this.foto = this.$urlfoto + 'semfoto.jpg';
      }
    },
    acessoMenus (path) {
      if (path === '/chefeEquipeMedica' || path === '/homeChefe') {
        if (this.$store.state.cliente.cd_prestador_chefe) {
          return true;
        } else {
          return false;
        }
      } else if (path === '/home') {
        if (this.$store.state.cliente.cd_prestador_chefe) {
          return false;
        } else {
          return true;
        }
      } else if (this.$store.state.cliente.cd_prestador) {
        return true;
      } else {
        return false;
      }
    },
    breadcrumb () {
      EventBus.$emit('EVENT_BREADCRUMB', null);
    },
    nomeUser (nome) {
      nome = nome.trim();
      var res = nome.split(' ')
      var firstName = res[0];
      var lastName = 'undefined';
      for (var i = 1; i < res.length; i++) {
        if (res[i] !== ' ') {
          lastName = res[i];
        }
      }
      var fullName;
      var words = firstName.toLowerCase().split(' ');
      for (var a = 0; a < words.length; a++) {
        var w = words[a];
        words[a] = w[0].toUpperCase() + w.slice(1);
      }
      firstName = words.join(' ');
      // console.log(lestName);
      if (lastName !== 'undefined') {
        fullName = firstName + ' ' + lastName;
      } else {
        fullName = firstName;
      }
      return fullName;
    }
  },
  created () {
    this.updateSideBar();
    EventBus.$on('UPDATE_SIDEBAR', (data) => {
      this.updateSideBar(data);
    });
    EventBus.$on('EVENT_CLIENTE_ACESSO', (data) => {
      this.acessoMenu = data;
    });
  }
}
</script>
<style scoped>
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.hr-top-menu {
  border-top: 1px solid #1c496a;
}
</style>
