<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" v-model="filter" placeholder="Pesquisar">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" :disabled="!filter" @click="filter = ''">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- Main table element -->
    <b-table show-empty
             striped
             outlined
             hover
             stacked="md"
             :items="items"
             :fields="fields"
             :current-page="currentPage"
             :per-page="perPage"
             :filter="filter"
             :sort-by.sync="sortBy"
             :sort-desc.sync="sortDesc"
             :sort-direction="sortDirection"
             @filtered="onFiltered"
             :empty-filtered-text="this.$tbSearchData"
             :empty-text="this.$tbNoData">
      <template slot="actions" slot-scope="row">
        <b-button size="sm" @click.stop="listaPrestEquipe(row.item)" class="btn btn-default-mv btn-icon-mv">
          <span class="mv-basico-seta_baixo mv-basico-icon-btn"></span>
        </b-button>
      </template>
    </b-table>

    <b-row>
      <b-col md="6" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import EventBus from '@/EventBus/event-bus';

export default {
  data () {
    return {
      items: [],
      fields: [
        { key: 'ds_multi_empresa', label: 'Hospital' },
        { key: 'ds_equipe_rep_variavel', label: 'Equipe', sortable: true, sortDirection: 'desc' },
        { key: 'vl_liberado', label: 'Liberado', sortable: true },
        { key: 'actions', label: 'Detalhes', class: 'text-center' }
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: 1,
      pageOptions: [5, 10, 15],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      modalInfo: { title: '', content: '' }
    }
  },
  methods: {
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    listaPrestEquipe (item) {
      EventBus.$emit('RBACK-EQUIPE-PREST-EVENT_DATA', item)
    }
  },
  beforeDestroy () {
    EventBus.$off('EQUIPE-EVENT_DATA')
  },
  created () {
    EventBus.$on('EQUIPE-EVENT_DATA', (data) => {
      this.items = data;
      this.totalRows = data.length;
    });
  }
}
</script>
