<template>
  <div>
    <form @submit.prevent="salvar()">
      <alert-dismissible :msgTitulo="alertTitulo" :msgCorpo="alertCorpo" :status="alertStatus"></alert-dismissible>
      <br>
      <div class="row">
        <div class="col-md-2">
          <label> Notificações </label>
          <b-form-select v-model="configuracao.notificacao" :options="options" class="mb-3">
            <template slot="first">
              <option :value="null" disabled>-- Selecione uma opção --</option>
            </template>
          </b-form-select>
        </div>
        <div class="col-md-2">
          <label> Pendência NF </label>
          <b-form-select v-model="configuracao.pendencia" :options="options" class="mb-3">
            <template slot="first">
              <option :value="null" disabled>-- Selecione uma opção --</option>
            </template>
          </b-form-select>
        </div>
        <div class="col-md-2">
          <label> SLA </label>
          <b-form-select v-model="configuracao.sla" :options="options" class="mb-3">
            <template slot="first">
              <option :value="null" disabled>-- Selecione uma opção --</option>
            </template>
          </b-form-select>
        </div>
        <div class="col-md-2">
          <label> Chat </label>
          <b-form-select v-model="configuracao.chat" :options="options" class="mb-3">
            <template slot="first">
              <option :value="null" disabled>-- Selecione uma opção --</option>
            </template>
          </b-form-select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8" style="text-align: right;">
          <button type="submit" class="btn  btn-primary-mv"> Salvar </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import AlertDismissible from '@/components/AlertDismissible';
import Configuracao from '@/domain/configuracao/Configuracao.js';
import ConfiguracaoService from '@/domain/configuracao/ConfiguracaoService.js';

export default {
  name: 'Configuracoes',
  components: {
    AlertDismissible
  },
  data () {
    return {
      configuracao: new Configuracao(),
      alertTitulo: '',
      alertCorpo: '',
      alertStatus: null,
      options: [
        { value: 'S', text: 'SIM' },
        { value: 'N', text: 'NÃO' }
      ]
    };
  },
  methods: {
    salvar () {
      let loader = this.$loading.show();
      this.service.atualiza(this.configuracao)
        .then(response => {
          this.alertTitulo = 'Configurações Salva';
          this.alertCorpo = 'Suas Configurações foram alteradas com sucesso';
          this.alertStatus = true;
        }, response => {
          this.alertTitulo = 'Falha ao Salvar configurações';
          this.alertCorpo = 'Suas Configurações não foram alteradas!! Contate o administrador para comunicar o problema!';
          this.alertStatus = false;
        });
      this.alertStatus = null;
      loader.hide();
    }
  },
  created () {
    let loader = this.$loading.show();
    this.service = new ConfiguracaoService();
    this.service.busca(this.$store.state.user.idusuario).then(
      res => {
        this.configuracao = res.data;
        loader.hide();
      }, err => console.log(err));
  }
};
</script>
