<template>
  <div>
    <div v-if="!respondendoChamados">
      <form @submit.prevent="gravar()">
        <alert-dismissible :msgTitulo="alertTitulo" :msgCorpo="alertCorpo" :status="alertStatus"></alert-dismissible>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Assunto</label>
              <input type="text" :class="errors.has('assunto') ? 'form-control is-invalid' : 'form-control'" placeholder="" v-model="chamados.titulo" id="assunto" name="assunto" v-validate="'required|min:10'" autocomplete="off" data-vv-validate-on="change" maxlength="100">
              <span class="invalid-feedback" v-show="errors.has('assunto')">{{ errors.first('assunto') }}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Hospital</label>
              <div :class="errors.has('cd_hospital') ? 'erro-v-select' : ''">
                <v-select v-model="cd_hospital" name="cd_hospital" label="nm_multi_empresa" :options="hospitais" v-validate="'required'" placeholder=" -- Selecione o Hospital -- ">
                  <span slot="no-options">
                    Não encontrado
                  </span>
                </v-select>
              </div>
              <span class="invalid-feedback-v-select" v-show="errors.has('cd_hospital')">O campo Hospital é obrigatório.</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Descrição detalhada</label>
          <textarea rows="4" cols="50" :class="errors.has('descricao_detalhada') ? 'form-control is-invalid' : 'form-control'" v-model="chamados.assunto" id="descricao_detalhada" name="descricao_detalhada" v-validate="'required'" autocomplete="off" data-vv-validate-on="change" maxlength="250">
          </textarea>
          <span class="invalid-feedback" v-show="errors.has('descricao_detalhada')">O campo Descrição detalhada é obrigatório.</span>
        </div>
        <div class="row">
          <div class="col-md-4" :class="validarTamanhoFile ? 'has-error' : null">
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn btn-file btn-block btn-flat">
                  Anexo
                  <input type="file" id="file" ref="file" accept=".jpg, .jpeg, .png, .pdf, .zip, .7zip" @change="previewAnexo" />
                </button>
              </div>
              <!-- /btn-group -->
              <input type="text" class="form-control" disabled :value="url">
            </div>
            <span class="invalid-feedback" v-show="validarTamanhoFile">O Tamanho do arquivo maior que o permitido.(5MB)</span>
          </div>
          <div class="col-md-8" style="text-align: right; margin-top: 16px">
            <button type="button" class="btn  btn-default-mv" @click="limparForm">Cancelar</button>
            <button type="submit" class="btn  btn-primary-mv">Salvar</button>
          </div>
        </div>
      </form>
    </div>
    <div v-else>
      <form @submit.prevent="responderChamados()">
        <alert-dismissible :msgTitulo="alertTitulo" :msgCorpo="alertCorpo" :status="alertStatus"></alert-dismissible>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Assunto</label>
              <input type="text" disabled :class="errors.has('assunto') ? 'form-control is-invalid' : 'form-control'" placeholder="" v-model="chamados.titulo" id="assunto" name="assunto" v-validate="'required|min:10'" autocomplete="off" data-vv-validate-on="change" maxlength="100">
              <span class="invalid-feedback" v-show="errors.has('assunto')">{{ errors.first('assunto') }}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Hospital</label>
              <div :class="errors.has('cd_hospital') ? 'erro-v-select' : ''">
                <v-select disabled v-model="cd_hospital" name="cd_hospital" label="nm_multi_empresa" :options="hospitais" v-validate="'required'" placeholder=" -- Selecione o Hospital -- ">
                  <span slot="no-options">
                    Não encontrado
                  </span>
                </v-select>
              </div>
              <span class="invalid-feedback-v-select" v-show="errors.has('cd_hospital')">O campo Hospital é obrigatório.</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Descrição detalhada</label>
          <textarea rows="4" cols="50" :class="errors.has('descricao_detalhada') ? 'form-control is-invalid' : 'form-control'" v-model="chamados.assunto" id="descricao_detalhada" name="descricao_detalhada" v-validate="'required'" autocomplete="off" data-vv-validate-on="change" maxlength="250">
          </textarea>
          <span class="invalid-feedback" v-show="errors.has('descricao_detalhada')">O campo Descrição detalhada é obrigatório.</span>
        </div>
        <div class="row">
          <div class="col-md-4" :class="validarTamanhoFile ? 'has-error' : null">
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn btn-file btn-block btn-flat">
                  Anexo
                  <input type="file" id="file" ref="file" accept=".jpg, .jpeg, .png, .pdf, .zip, .7zip" @change="previewAnexo" />
                </button>
              </div>
              <!-- /btn-group -->
              <input type="text" class="form-control" disabled :value="url">
            </div>
            <span class="invalid-feedback" v-show="validarTamanhoFile">O Tamanho do arquivo maior que o permitido.(5MB)</span>
          </div>
          <div class="col-md-8" style="text-align: right; margin-top: 16px">
            <button type="button" class="btn  btn-default-mv" @click="limparForm">Cancelar</button>
            <button type="submit" class="btn  btn-primary-mv">Responder Chamado</button>
          </div>
        </div>
      </form>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" v-model="filter" placeholder="Pesquisar">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" :disabled="!filter">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- Main table element -->
    <b-table
      ref="table"
      striped outlined hover
      show-empty
      stacked="md"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      :empty-filtered-text="this.$tbSearchData"
      :empty-text="this.$tbNoData"
      >
      <template slot="HEAD_status" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong class="text-center" @click.stop>{{items.label}}</strong>
      </template>
      <template slot="HEAD_solicitante" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong class="text-center" @click.stop>
          <button size="sm" id="exPopoverReactive"
            :disabled="popoverShow"
            variant="primary"
            class="btn btn-icon-mv-filtro">
            <span class="mv-basico-filtro mv-basico-icon-btn ">
              <span class="mv-basico-texto-filtro ">
                {{items.label}}
              </span>
            </span>
          </button>
          </strong>
      </template>
      <template slot="HEAD_anexo" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong class="text-center" @click.stop>{{items.label}}</strong>
      </template>
      <template slot="HEAD_isActive" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong class="text-center" @click.stop>{{items.label}}</strong>
      </template>
      <template slot="anexo" slot-scope="data">
        <a v-if="data.item.anexo" target="_blank" rel="noopener noreferrer" :href="loadblankAnexo(data.item.anexo)">
        <button size="sm" class="btn btn-default-mv btn-icon-mv">
          <span class="mv-basico-anexar mv-basico-icon-btn"></span>
        </button>
        </a>
        <div v-else>
        </div>
      </template>
      <template slot="isActive" slot-scope="data">
        <button @click.stop="data.toggleDetails" class="btn btn-default-mv btn-icon-mv">
          <span v-if="data.detailsShowing" class="mv-basico-seta_cima mv-basico-icon-btn" aria-hidden="true"></span>
          <span v-else class="mv-basico-seta_baixo mv-basico-icon-btn" aria-hidden="true"></span>
        </button>
      </template>
      <template slot="row-details" slot-scope="row">
        <b-card>
          <div class="well">
            <b>Data do Chamado:</b> {{row.item.dt_chamado}}<br>
            <b>Resposta:</b> {{row.item.resposta}} <br>
            <b>Anexo:</b>
            <a target="_blank" rel="noopener noreferrer" :href="loadblankAnexo(row.item.anexo)">
              {{row.item.anexo}}
            </a>
            <div v-if="row.item.chamado_referencia">
              <b>Referência:</b> Chamado com Assunto de: {{row.item.referencia}}
            </div>
            <div v-if="row.item.status == 'Aberto' && row.item.solicitante == 'Hospital'" class="col-md-12" style="text-align: right">
              <button type="submit" class="btn  btn-primary-mv" @click="responder(row.item)">Responder</button>
            </div>
          </div>
        </b-card>
      </template>
      <template slot="solicitante" slot-scope="row">
        <div v-if="row.item.solicitante == 'Hospital'">
          {{nomeusuario}}
        </div>
        <div v-else>
          {{nomecliente}}
        </div>
      </template>
    </b-table>
    <b-row>
      <b-col md="6" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-row>
    <div class="row">
        <div class="col-md-4">
          <b-popover target="exPopoverReactive"
                    triggers="click"
                    :show.sync="popoverShow"
                    placement="bottom"
                    ref="popover"
                    @show="onShow">
            <template slot="title">
              <b-btn @click="onClose" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true"> &times;</span>
              </b-btn>
              Filtrar Solicitante
            </template>
            <div>
              <v-select multiple :options="input" placeholder=" Selecione o Solicitante " v-model="solicitantes">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
              <br>
              <b-btn @click="onClear" size="sm" variant="danger">Limpar</b-btn>
              <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
            </div>
          </b-popover>
        </div>
      </div>
  </div>
</template>

<script>
import Chamados from '@/domain/chamados/Chamados.js';
import ChamadosService from '@/domain/chamados/ChamadosService.js';
import HospitalService from '@/domain/hospital/HospitalService.js';
import AlertDismissible from '@/components/AlertDismissible';
import capitalizer from '@/utils/captalize.js';

export default {
  mixins: [capitalizer],
  data () {
    return {
      items: [],
      fields: [
        { key: 'cd_chamados', label: 'Protocolo', sortable: true, sortDirection: 'desc' },
        { key: 'titulo', label: 'Assunto', sortable: true },
        { key: 'assunto', label: 'Mensagem', sortable: true },
        { key: 'status', label: 'Status' },
        { key: 'anexo', label: 'Anexo' },
        { key: 'solicitante', label: 'Solicitante', 'class': 'text-center' },
        { key: 'isActive', label: 'Detalhes', 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      sortBy: 'cd_chamados',
      sortDesc: true,
      sortDirection: 'desc',
      filter: null,
      chamados: new Chamados(),
      url: null,
      file: null,
      validarTamanhoFile: false,
      hospitais: [
      ],
      cd_hospital: null,
      alertTitulo: '',
      alertCorpo: '',
      alertStatus: null,
      popoverShow: false,
      solicitantes: [],
      input: [],
      originalItems: [],
      respondendoChamados: false,
      CdchamadoResposta: null,
      nomeusuario: this.captalize(this.$store.state.user.nomeusuario),
      nomecliente: this.captalize(this.$store.state.cliente.ds_cliente)
    }
  },
  components: {
    AlertDismissible
  },
  methods: {
    onClose () {
      this.filtrar();
    },
    filtrar () {
      var aux = [];
      this.items = this.originalItems;
      if (this.solicitantes.length > 0) {
        for (var i in this.items) {
          if (this.solicitantes.includes(this.items[i].solicitante)) {
            aux.push(this.items[i])
          }
        }
        this.items = aux;
      }
      this.popoverShow = false;
    },
    onClear () {
      this.solicitantes = [];
      this.onClose();
    },
    onShow () {
      /* This is called just before the popover is shown */
    },
    onFiltered (filteredItems) {
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    loadblankAnexo (file) {
      return this.$urlfile + file;
    },
    previewAnexo (e) {
      const file = e.target.files
      this.url = file[0].name;
      const reader = new FileReader()
      reader.onload = (event) => {
        this.file = event.target.result
      }
      reader.readAsDataURL(file[0])

      if (file[0].size > 3145728) {
        this.validarTamanhoFile = true;
      } else {
        this.validarTamanhoFile = false;
      }
    },
    gravar () {
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            let loader = this.$loading.show();
            this.chamados.cd_cliente = this.$store.state.cliente.cd_cliente;
            this.chamados.cd_multi_empresa = this.cd_hospital.cd_multi_empresa;
            this.chamados.anexo = this.file;
            this.chamados.cd_prestador = this.$store.state.cliente.cd_prestador;
            this.chamados.nm_prestador = this.$store.state.user.nomeusuario;
            this.service.cadastra(this.chamados)
              .then(
                res => {
                  this.items.push(res.data)
                  this.$refs.table.refresh();
                  this.limparForm();
                  loader.hide();
                  this.alertTitulo = 'Chamado Salvo!';
                  this.alertCorpo = 'Aguarde o hospital responder sua solicitação.';
                  this.alertStatus = true;
                }, res => {
                  loader.hide();
                  this.alertTitulo = 'Erro ao gravar solicitação';
                  this.alertCorpo = 'Por favor, entre em contato com o administrador do sistema.';
                  this.alertStatus = false;
                });
          }
        });
      this.alertStatus = null;
      this.errors.clear();
    },
    listar () {
      let loader = this.$loading.show();
      this.service
        .listaByUsuario(this.$store.state.cliente.cd_prestador,
          this.$store.state.cliente.cd_cliente)
        .then(
          res => {
            for (var i = 0; i < res.data.length; i++) {
              if (res.data[i].solicitante) {
                if (!this.input.includes(res.data[i].solicitante)) {
                  this.input.push(res.data[i].solicitante);
                }
              }
              if (res.data[i].chamado_referencia) {
                var aux = res.data[i].chamado_referencia;
                for (var j = 0; j < res.data.length; j++) {
                  if (res.data[j].cd_chamados === aux) {
                    res.data[i].referencia = res.data[j].titulo;
                  }
                }
              }
            }
            this.items = res.data;
            this.originalItems = res.data;
            this.totalRows = res.data.length;
            loader.hide();
          }, err => {
            loader.hide();
            console.log(err);
          });

      this.serviceHospital
        .hospitalMultiEmpresa(this.$store.state.cliente.cd_cliente,
          this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            this.hospitais = res.data;
            loader.hide();
          }, err => {
            loader.hide();
            console.log(err);
          });
    },
    responderChamados () {
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            let loader = this.$loading.show();
            this.chamados.cd_cliente = this.$store.state.cliente.cd_cliente;
            this.chamados.cd_multi_empresa = this.cd_hospital.cd_multi_empresa;
            this.chamados.anexo = this.file;
            this.chamados.cd_prestador = this.$store.state.cliente.cd_prestador;
            this.chamados.nm_prestador = this.$store.state.user.nomeusuario;
            this.chamados.chamado_referencia = this.CdchamadoResposta;
            this.service.cadastraResposta(this.chamados)
              .then(
                res => {
                  this.items.push(res.data)
                  this.$refs.table.refresh();
                  this.limparForm();
                  this.listar();
                  loader.hide();
                  this.alertTitulo = 'Chamado Salvo!';
                  this.alertCorpo = 'Aguarde o retorno do Hospital se necessário.';
                  this.alertStatus = true;
                }, res => {
                  loader.hide();
                  this.alertTitulo = 'Erro ao gravar solicitação';
                  this.alertCorpo = 'Por favor, entre em contato com o administrador do sistema.';
                  this.alertStatus = false;
                });
          }
        });
      this.alertStatus = null;
      this.errors.clear();
    },
    responder (chamadoOriginal) {
      this.chamados.titulo = 'RE : ' + chamadoOriginal.titulo;
      for (var i = 0; i < this.hospitais.length; i++) {
        if (this.hospitais[i].cd_multi_empresa === chamadoOriginal.cd_multi_empresa) {
          this.cd_hospital = this.hospitais[i];
        }
      }
      this.CdchamadoResposta = chamadoOriginal.cd_chamados;
      this.respondendoChamados = true;
    },
    limparForm () {
      this.chamados = new Chamados();
      this.url = null;
      this.file = null;
      this.respondendoChamados = false;
      // this.cd_hospital = null;
      this.CdchamadoResposta = null;
    }
  },
  created () {
    this.service = new ChamadosService();
    this.serviceHospital = new HospitalService();
    this.listar();
  }
}
</script>
