<template>
  <div class="">
    <div class="logo-head">
      <div class="login-logo">
        <img src="../../../assets/imgs/logo-mv.png" class="img-logo">
      </div>
      <div class="login-logo login-box login-box-background">
        <b>Portal Médico</b>
      </div>
    </div>
    <div class="login-box login-bordas">
      <div class="login-box-body box-body-background">
        <slot></slot>
      </div>
    </div>
    <br><br><br><br>
  </div>
</template>
<script>
export default {
  name: 'LoginPainel'
};
</script>
