<template>
  <div>
    <div class="row-align-acesso" align="center">
      <form @submit.prevent="enviar()">
      <alert-dismissible :msgTitulo="alertTitulo" :msgCorpo="alertCorpo" :status="alertStatus"></alert-dismissible>
        <div class="col-md-12">
          <i class="mv-hosp-hospital"></i>
          <br>
          <span class="solic-acesso-sistema">
            <b>Solicite acesso ao sistema</b>
          </span>
          <br>
          <span>
            Escolha abaixo o Cliente/empresa que entraremos em contato
          </span>
          <br><br>
          <div class="row caixa-select">
            <div class="col-md-6" align="left">
              <div :class="errors.has('cd_cliente') ? 'form-group has-error' : 'form-group'" style="border-color: #DD4B39;">
                <label for="cliente">Cliente</label>
                <div :class="errors.has('cd_cliente') ? 'erro-v-select' : ''">
                  <v-select :options="clientes" @input="changedCliente" v-model="cliente" label="ds_cliente" v-validate="'required'" name='cd_cliente' id="cd_cliente" placeholder=" -- Selecione o Cliente -- ">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                </div>
                <span class="help-block" v-show="errors.has('cd_cliente')">O campo Cliente é obrigatório.</span>
              </div>
            </div>
            <div class="col-md-6" align="left">
              <div :class="errors.has('cd_multi_empresa') ? 'form-group has-error' : 'form-group'" style="border-color: #DD4B39;">
                <label for="empresa">Empresa</label>
                <div :class="errors.has('cd_multi_empresa') ? 'erro-v-select' : ''">
                  <v-select :options="hospitais" :disabled="this.disabledEmp" v-model="hospital" label="nm_multi_empresa" v-validate="'required'" name='cd_multi_empresa' id="cd_multi_empresa" placeholder=" -- Selecione a Empresa -- ">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                </div>
                <span class="help-block" v-show="errors.has('cd_multi_empresa')">O campo Empresa é obrigatório.</span>
              </div>
            </div>
            <br><br><br>
            <div class="box-center">
              <textarea rows="4" cols="30" class="form-control" v-model="usuarioEmpresa.descricao" id="" name="" autocomplete="off" maxlength="250" placeholder="Escreva aqui...">
              </textarea>
              <br>
              <div align="right">
                <button type="submit" class="btn  btn-primary">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import ClienteService from '@/domain/cliente/ClienteService.js';
import EmpresaService from '@/domain/empresa/EmpresaService.js';
import UsuarioEmpresa from '@/domain/usuarioEmpresa/UsuarioEmpresa.js';
import UsuarioEmpresaService from '@/domain/usuarioEmpresa/UsuarioEmpresaService.js';
import AlertDismissible from '@/components/AlertDismissible';

export default {
  name: 'EmpresaHospital',
  data () {
    return {
      disabledEmp: true,
      usuarioEmpresa: new UsuarioEmpresa(),
      alertTitulo: '',
      alertCorpo: '',
      alertStatus: null,
      clientes: [],
      cliente: null,
      hospitais: [],
      hospital: null
    };
  },
  components: {
    AlertDismissible
  },
  methods: {
    listarClientes () {
      this.serviceCli
        .findAllCliente()
        .then((res) => {
          this.clientes = res.data;
        })
    },
    listarEmpresas (cdCliente) {
      this.serviceEmp
        .findByIdCliente(cdCliente)
        .then((res) => {
          this.hospitais = res.data;
          this.disabledEmp = false
        })
    },
    changedCliente () {
      if (this.cliente.cd_cliente) {
        this.hospital = null;
        this.listarEmpresas(this.cliente.cd_cliente);
      }
    },
    enviar () {
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            let loader = this.$loading.show();
            this.usuarioEmpresa.ds_cliente = this.cliente.ds_cliente;
            this.usuarioEmpresa.email = this.cliente.email;
            this.usuarioEmpresa.nm_multi_empresa = this.hospital.nm_multi_empresa;
            this.usuarioEmpresa.usuario_nome = this.$store.state.user.nomeusuario;
            this.usuarioEmpresa.usuario_email = this.$store.state.user.email;
            this.serviceAcesso
              .enviarEmailAcesso(this.usuarioEmpresa)
              .then((res) => {
                loader.hide();
                this.alertTitulo = 'Email Enviado com sucesso';
                this.alertCorpo = 'Por favor, Aguarde a liberação do administrador para usar o sistema.';
                this.alertStatus = true;
              },
              res => {
                loader.hide();
                this.alertTitulo = 'Erro ao enviar email';
                this.alertCorpo = 'Por favor, entre em contato com o administrador do sistema.';
                this.alertStatus = false;
              });
          }
        })
      this.errors.clear();
    }
  },
  created () {
    this.serviceCli = new ClienteService();
    this.serviceEmp = new EmpresaService();
    this.serviceAcesso = new UsuarioEmpresaService();
    this.listarClientes();
  }
};
</script>
<style>
.row-align-acesso {
  margin-top: 3%;
}
.mv-hosp-hospital {
  font-size: 140px;
  color: #ebebeb;
}
.centro {
  margin: 0 auto;
}
.solic-acesso-sistema {
  font-size: 18px;
}
.caixa-select {
  width: 60%;
}
.box-center {
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}
</style>
