<template>
  <div>
    <div class="box-body" v-if="this.labels.length > 0">
      <div v-if="this.data.length > 0" >
        <commit-chart :labelss="this.labels" :dataa="this.data" :ano="this.ano_calendario">
        </commit-chart>
      </div>
    </div>
    <br>
    <div v-if="graficoClicado">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" v-model="filter" placeholder="Pesquisar">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" :disabled="!filter" @click="filter = ''">Pesquisar</button>
              </div>
            </div>
          </div>
        </div>
      <br>
      <b-table ref="table" striped outlined
      hover show-empty stacked="md"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      @filtered="onFiltered"
      :empty-filtered-text="this.$tbSearchData"
      :empty-text="this.$tbNoData"
      foot-clone>
      <template slot="FOOT_dt_competencia" slot-scope="items">
      <!-- A custom formatted footer cell  for field 'name' -->
        <strong @click.stop>Total </strong>
      </template>
      <template slot="FOOT_ds_multi_empresa" slot-scope="items">
      <!-- A custom formatted footer cell  for field 'name' -->
        <strong @click.stop></strong>
      </template>
      <template slot="FOOT_nm_convenio" slot-scope="items">
        <!-- A custom formatted footer cell  for field 'name' -->
        <strong @click.stop></strong>
      </template>
      <template slot="FOOT_cd_atendimento" slot-scope="items">
        <!-- A custom formatted footer cell  for field 'name' -->
        <strong @click.stop></strong>
      </template>
      <template slot="FOOT_ds_pro_fat" slot-scope="items">
        <!-- A custom formatted footer cell  for field 'name' -->
        <strong @click.stop></strong>
      </template>
      <template slot="FOOT_nm_paciente" slot-scope="items">
        <!-- A custom formatted footer cell  for field 'name' -->
        <strong @click.stop></strong>
      </template>
      <template slot="FOOT_vl_liberado" slot-scope="items">
        <!-- A custom formatted footer cell  for field 'name' -->
        <strong @click.stop>{{ total_liberado }} </strong>
      </template>
    </b-table>
    <b-row>
      <b-col md="6" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-row>
  </div>
  </div>
</template>

<script>
import HistoricoService from '@/domain/historico/HistoricoService.js';
import CommitChart from '@/components/grafico/CommitChart'
import EventBus from '@/EventBus/event-bus';
import capitalizer from '@/utils/captalize.js';
var moment = require('moment');
var currencyFormatter = require('currency-formatter');

export default {
  name: 'historico',
  mixins: [capitalizer],
  data () {
    return {
      labels: [],
      data: [],
      ano_calendario: 0,
      EVENT_DATA: this.$store.state.route.path + '-EVENT_DATA',
      graficoClicado: false,
      items: [
      ],
      fields: [
        { key: 'dt_competencia', label: 'Data' },
        { key: 'ds_multi_empresa', label: 'Hospital' },
        { key: 'nm_convenio', label: 'Convenio' },
        { key: 'cd_atendimento', label: 'Atendimento' },
        { key: 'ds_pro_fat', label: 'Procedimento' },
        { key: 'nm_paciente', label: 'Paciente' },
        { key: 'vl_liberado', label: 'Liberado' }
      ],
      sortBy: 'cd_chamados',
      sortDesc: true,
      sortDirection: 'desc',
      currentPage: 1,
      perPage: 10,
      totalRows: null,
      filter: null,
      total_liberado: 0
    }
  },
  components: {
    CommitChart
  },
  methods: {
    onFiltered (filteredItems) {
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    onCarregaGrafico () {
      let loader = this.$loading.show();
      this.labels = [];
      this.data = [];
      var aux = this.$store.state.dataCalendario.split('/');
      this.ano_calendario = aux[1];
      this.service.busca(this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador).then(
        res => {
          for (var i = 0; i < res.data.length; i++) {
            this.labels.push(res.data[i].mes_extenso);
            this.data.push(res.data[i].vl_liberado)
          }
          loader.hide();
        }, err => {
          loader.hide();
          console.log(err)
        });
    },
    carregaMesHistorico (mes) {
      let loader = this.$loading.show();
      var mesSelecionado = mes + 1;
      this.service.buscaHistorico(
        this.$store.state.dataCalendario,
        mesSelecionado,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            this.total_liberado = 0;
            this.totalRows = res.data.length
            for (var i = 0; i < res.data.length; i++) {
              this.total_liberado += res.data[i].vl_liberado;
              res.data[i].dt_competencia = moment(res.data[i].dt_competencia).add(4, 'hours');
              res.data[i].dt_competencia = moment(res.data[i].dt_competencia).format('DD/MM/YYYY');
              res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
              res.data[i].ds_multi_empresa = this.captalize(res.data[i].ds_multi_empresa)
              if (res.data[i].nm_convenio) {
                res.data[i].nm_convenio = this.captalize(res.data[i].nm_convenio)
              }
              if (res.data[i].nm_paciente) {
                res.data[i].nm_paciente = this.captalize(res.data[i].nm_paciente)
              }
              if (res.data[i].ds_pro_fat) {
                res.data[i].ds_pro_fat = this.captalize(res.data[i].ds_pro_fat)
              }
            }
            this.graficoClicado = true;
            this.total_liberado = currencyFormatter.format(this.total_liberado, { code: 'BRL' });
            this.items = res.data
            loader.hide();
          }, err => {
            console.log(err);
            loader.hide();
          });
    }
  },
  beforeDestroy () {
    EventBus.$off(this.EVENT_DATA, this.onListUpdate)
    EventBus.$off('MES_HISTORICO_SELECIONADO', this.onListUpdate);
  },
  created () {
    this.service = new HistoricoService();
    this.onCarregaGrafico()
    EventBus.$on(this.EVENT_DATA, (data) => {
      this.onCarregaGrafico()
    });
    EventBus.$on('MES_HISTORICO_SELECIONADO', (data) => {
      this.carregaMesHistorico(data);
    });
  }
};
</script>
