<template>
  <div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" v-model="filter" placeholder="Pesquisar">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default" :disabled="!filter">Pesquisar</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <b-table ref="table" striped outlined
    hover show-empty stacked="md"
    :items="items"
    :fields="fields"
    :current-page="currentPage"
    :per-page="perPage"
    :filter="filter"
    :sort-by.sync="sortBy"
    :sort-desc.sync="sortDesc"
    @filtered="onFiltered"
    :empty-filtered-text="this.$tbSearchData"
    :empty-text="this.$tbNoData"
    foot-clone>
    <template slot="FOOT_dt_competencia" slot-scope="items">
      <!-- A custom formatted footer cell  for field 'name' -->
      <strong @click.stop>Total </strong>
    </template>
    <template slot="FOOT_ds_multi_empresa" slot-scope="items">
      <!-- A custom formatted footer cell  for field 'name' -->
      <strong @click.stop></strong>
    </template>
    <template slot="FOOT_nm_convenio" slot-scope="items">
      <!-- A custom formatted footer cell  for field 'name' -->
      <strong @click.stop></strong>
    </template>
    <template slot="FOOT_cd_atendimento" slot-scope="items">
      <!-- A custom formatted footer cell  for field 'name' -->
      <strong @click.stop></strong>
    </template>
    <template slot="FOOT_cd_conta" slot-scope="items">
      <!-- A custom formatted footer cell  for field 'name' -->
      <strong @click.stop></strong>
    </template>
    <template slot="FOOT_nm_paciente" slot-scope="items">
      <!-- A custom formatted footer cell  for field 'name' -->
      <strong @click.stop></strong>
    </template>
    <template slot="FOOT_ds_pro_fat" slot-scope="items">
      <!-- A custom formatted footer cell  for field 'name' -->
      <strong @click.stop></strong>
    </template>
    <template slot="FOOT_vl_confirmado" slot-scope="items">
      <!-- A custom formatted footer cell  for field 'name' -->
      <strong @click.stop>{{ total_liberado_confirmado }} </strong>
    </template>
    <template slot="FOOT_vl_liberado" slot-scope="items">
      <!-- A custom formatted footer cell  for field 'name' -->
      <strong @click.stop>{{ total_liberado_repasse }} </strong>
    </template>
  </b-table>
  <b-row>
    <b-col md="6" class="my-1">
      <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
    </b-col>
  </b-row>
  </div>
</template>

<script>
import RepasseService from '@/domain/producao/RepasseService.js';
import EventBus from '@/EventBus/event-bus';
import capitalizer from '@/utils/captalize.js';
var moment = require('moment');
var currencyFormatter = require('currency-formatter');

export default {
  name: 'Liberado Detalhe',
  mixins: [capitalizer],
  data () {
    return {
      filter: null,
      items: [],
      fields: [
        { key: 'dt_competencia', label: 'Data', sortable: true },
        { key: 'ds_multi_empresa', label: 'Hospital' },
        { key: 'nm_convenio', label: 'Convênio' },
        { key: 'cd_atendimento', label: 'Atendimento' },
        { key: 'cd_conta', label: 'Conta' },
        { key: 'nm_paciente', label: 'Paciente' },
        { key: 'ds_pro_fat', label: 'Procedimento' },
        { key: 'vl_confirmado', label: 'A Receber' },
        { key: 'vl_liberado', label: 'Liberado' }
      ],
      totalRows: 0,
      perPage: 10,
      currentPage: 1,
      sortBy: 'dt_lancamento',
      sortDesc: false,
      sortDirection: 'Ascending',
      EVENT_DATA: this.$store.state.route.path + '-EVENT_DATA',
      total_liberado_confirmado: 0,
      total_liberado_repasse: 0
    }
  },
  methods: {
    onFiltered (filteredItems) {
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    pegaLiberado () {
      let loader = this.$loading.show();
      this.service.buscaLiberado(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            this.totalRows = res.data.length;
            for (var i = 0; i < res.data.length; i++) {
              this.total_liberado_repasse += res.data[i].vl_liberado;
              this.total_liberado_confirmado += res.data[i].vl_confirmado;
              res.data[i].dt_competencia = moment(res.data[i].dt_competencia).add(4, 'hours');
              res.data[i].dt_competencia = moment(res.data[i].dt_competencia).format('DD/MM/YYYY');
              res.data[i].vl_confirmado = currencyFormatter.format(res.data[i].vl_confirmado, { code: 'BRL' });
              res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
              res.data[i].ds_multi_empresa = this.captalize(res.data[i].ds_multi_empresa);
              if (res.data[i].nm_convenio) {
                res.data[i].nm_convenio = this.captalize(res.data[i].nm_convenio);
              }
              if (res.data[i].ds_pro_fat) {
                res.data[i].ds_pro_fat = this.captalize(res.data[i].ds_pro_fat);
              }
              if (res.data[i].nm_paciente === 'MANUAL') {
                res.data[i].nm_convenio = 'Repasse Manual';
                res.data[i].nm_paciente = '--';
                res.data[i].ds_pro_fat = this.captalize(res.data[i].ds_repasse);
                res.data[i].cd_atendimento = '--';
              } else {
                if (res.data[i].nm_paciente) {
                  res.data[i].nm_paciente = this.captalize(res.data[i].nm_paciente);
                }
              }
            }
            this.items = res.data;
            this.total_liberado_confirmado = currencyFormatter.format(this.total_liberado_confirmado, { code: 'BRL' });
            this.total_liberado_repasse = currencyFormatter.format(this.total_liberado_repasse, { code: 'BRL' });
            loader.hide();
          }, err => {
            console.log(err);
            loader.hide();
          });
    },
    botaoCLicked (row) {
      this.$store.commit('UPDATE_ATENDIMENTO', row);
      this.$router.push('/atendimento/detalhe');
    }
  },
  beforeDestroy () {
    EventBus.$off(this.EVENT_DATA, this.pegaDados)
  },
  created () {
    this.service = new RepasseService();
    this.pegaLiberado()
    EventBus.$on(this.EVENT_DATA, (data) => {
      this.pegaLiberado()
    });
  }
}
</script>
