<template>
  <div>
    <div>
      <h3> </h3>
    </div>
    <br>
    <!-- Main table element -->
    <div class="row">
      <div class="col-md-8">
        <b>{{this.$store.state.hospital.ds_multi_empresa}} - {{this.$store.state.hospital.nm_convenio}}  - {{this.$store.state.hospital.cd_pro_fat}} - {{this.$store.state.hospital.ds_pro_fat}}</b>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" v-model="filter" placeholder="Pesquisar">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" :disabled="!filter">Pesquisar</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <b-table ref="table"
            striped
            outlined
            hover
            foot-clone
            show-empty
            stacked="md"
            :items="items"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            :filter="filter"
            @filtered="onFiltered"
            :empty-filtered-text="this.$tbSearchData"
            :empty-text="this.$tbNoData">
      <template slot="isActive" slot-scope="data">
        <b-button size="sm" @click.stop="data.toggleDetails" class="btn btn-default">
          <span v-if="data.detailsShowing" class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          <span v-else class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </b-button>
      </template>
      <template slot="FOOT_data_exibicao" slot-scope="items">
        <!-- A custom formatted footer cell  for field 'name' -->
        <strong @click.stop>Total </strong>
      </template>
      <template slot="FOOT_nm_paciente" slot-scope="items">
        <!-- A custom formatted footer cell  for field 'name' -->
        <strong @click.stop></strong>
      </template>
      <template slot="FOOT_qt_producao" slot-scope="items">
        <!-- A custom formatted footer cell  for field 'name' -->
        <strong @click.stop> {{total_produzido}} </strong>
      </template>
      <template slot="FOOT_qt_faturado" slot-scope="items">
        <!-- A custom formatted footer cell  for field 'name' -->
        <strong @click.stop>{{ total_faturado }}</strong>
      </template>
      <template slot="FOOT_vl_liberado" slot-scope="items">
        <!-- A custom formatted footer cell  for field 'name' -->
        <strong @click.stop> {{total_liberado}} </strong>
      </template>
      <template slot="FOOT_vl_glosado" slot-scope="items">
        <!-- A custom formatted footer cell  for field 'name' -->
        <strong @click.stop> {{total_glosado}}</strong>
      </template>
    </b-table>
    <b-row>
      <b-col md="6" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import RepasseService from '@/domain/producao/RepasseService.js';
import EventBus from '@/EventBus/event-bus';
import capitalizer from '@/utils/captalize.js';
var moment = require('moment');
var currencyFormatter = require('currency-formatter');
export default {
  name: 'procedimento-data',
  mixins: [capitalizer],
  data () {
    return {
      total_produzido: 0,
      total_faturado: 0,
      total_confirmado: 0,
      total_liberado: 0,
      total_glosado: 0,
      items: [
      ],
      fields: [
        { key: 'data_exibicao', label: 'Data' },
        { key: 'nm_paciente', label: 'Paciente' },
        { key: 'qt_producao', label: 'Produção' },
        { key: 'qt_faturado', label: 'Faturado' },
        { key: 'vl_liberado', label: 'Liberado' },
        { key: 'vl_glosado', label: 'Glosa' }

      ],
      sortBy: 'cd_chamados',
      sortDesc: true,
      sortDirection: 'desc',
      currentPage: 1,
      perPage: 10,
      totalRows: null,
      filter: null,
      hospital: null,
      EVENT_DATA: this.$store.state.route.path + '-EVENT_DATA'
    }
  },
  methods: {
    onFiltered (filteredItems) {
      this.total_produzido = 0
      this.total_faturado = 0
      this.total_liberado = 0
      this.total_glosado = 0
      for (var i = 0; i < filteredItems.length; i++) {
        this.total_produzido += filteredItems[i].qt_producao;
        this.total_faturado += filteredItems[i].qt_faturado;
        filteredItems[i].vl_liberado = currencyFormatter.unformat(filteredItems[i].vl_liberado, { code: 'BRL' })
        this.total_liberado += filteredItems[i].vl_liberado;
        filteredItems[i].vl_liberado = currencyFormatter.format(filteredItems[i].vl_liberado, { code: 'BRL' })
        filteredItems[i].vl_glosado = currencyFormatter.unformat(filteredItems[i].vl_glosado, { code: 'BRL' })
        this.total_glosado += filteredItems[i].vl_glosado;
        filteredItems[i].vl_glosado = currencyFormatter.format(filteredItems[i].vl_glosado, { code: 'BRL' })
      }
      this.total_liberado = currencyFormatter.format(this.total_liberado, { code: 'BRL' })
      this.total_glosado = currencyFormatter.format(this.total_glosado, { code: 'BRL' })
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    pegaDadosProcedimentoDetalhe () {
      let loader = this.$loading.show();
      this.total_produzido = 0;
      this.total_faturado = 0;
      this.total_liberado = 0;
      this.total_glosado = 0;
      this.service.buscaConvenioProcedimento(this.$store.state.dataCalendario,
        this.$store.state.hospital.cd_convenio,
        this.$store.state.hospital.cd_pro_fat,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.hospital.cd_multi_empresa,
        this.$store.state.cliente.cd_prestador_flow).then(
        res => {
          this.items = res.data;
          this.totalRows = res.data.length;
          for (var i = 0; i < res.data.length; i++) {
            res.data[i].data_exibicao = moment(res.data[i].data_exibicao).add(4, 'hours');
            res.data[i].data_exibicao = moment(res.data[i].data_exibicao).format('DD/MM/YYYY');
            this.total_produzido += res.data[i].qt_producao;
            this.total_faturado += res.data[i].qt_faturado;
            this.total_liberado += res.data[i].vl_liberado;
            this.total_glosado += res.data[i].vl_glosado;
            res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
            res.data[i].vl_glosado = currencyFormatter.format(res.data[i].vl_glosado, { code: 'BRL' });
            res.data[i].nm_paciente = this.captalize(res.data[i].nm_paciente);
          }
          this.total_liberado = currencyFormatter.format(this.total_liberado, { code: 'BRL' });
          this.total_glosado = currencyFormatter.format(this.total_glosado, { code: 'BRL' });
          loader.hide();
        }, err => {
          console.log(err);
          loader.hide();
        });
    },
    pegaDadosProcedimentoDetalheEquipe () {
      let loader = this.$loading.show();
      this.total_produzido = 0;
      this.total_faturado = 0;
      this.total_liberado = 0;
      this.total_glosado = 0;
      this.service.buscaConvenioProcedimentoEquipe(this.$store.state.dataCalendario,
        this.$store.state.hospital.cd_convenio,
        this.$store.state.hospital.cd_pro_fat,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.hospital.cd_multi_empresa,
        this.$store.state.cliente.cd_prestador_equipe_escolhido,
        this.$store.state.cliente.cd_equipe_escolhido).then(
        res => {
          this.items = res.data;
          this.totalRows = res.data.length;
          for (var i = 0; i < res.data.length; i++) {
            res.data[i].data_exibicao = moment(res.data[i].data_exibicao).add(4, 'hours');
            res.data[i].data_exibicao = moment(res.data[i].data_exibicao).format('DD/MM/YYYY');
            this.total_produzido += res.data[i].qt_producao;
            this.total_faturado += res.data[i].qt_faturado;
            this.total_liberado += res.data[i].vl_liberado;
            this.total_glosado += res.data[i].vl_glosado;
            res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
            res.data[i].vl_glosado = currencyFormatter.format(res.data[i].vl_glosado, { code: 'BRL' });
            res.data[i].nm_paciente = this.captalize(res.data[i].nm_paciente);
          }
          this.total_liberado = currencyFormatter.format(this.total_liberado, { code: 'BRL' });
          this.total_glosado = currencyFormatter.format(this.total_glosado, { code: 'BRL' });
          loader.hide();
        }, err => {
          console.log(err);
          loader.hide();
        });
    }
  },
  beforeDestroy () {
    EventBus.$off(this.EVENT_DATA, this.pegaDados)
  },
  created () {
    this.service = new RepasseService();
    EventBus.$emit('EVENT_BREADCRUMB', {
      text: this.$store.state.route.name,
      to: {
        name: this.$store.state.route.name
      }
    });
    if (!this.$store.state.cliente.cd_prestador_equipe_escolhido) {
      this.pegaDadosProcedimentoDetalhe()
    } else {
      this.pegaDadosProcedimentoDetalheEquipe()
    }
    EventBus.$on(this.EVENT_DATA, data => {
      if (!this.$store.state.cliente.cd_prestador_equipe_escolhido) {
        this.pegaDadosProcedimentoDetalhe()
      } else {
        this.pegaDadosProcedimentoDetalheEquipe()
      }
    });
  }
};
</script>
