<template>
    <div>
        <br>
        <div class="row">
        <div class="col-md-8">
          <b>{{this.$store.state.hospital.ds_multi_empresa}} - {{this.$store.state.hospital.nm_convenio}}</b>
        </div>
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" v-model="filter" placeholder="Pesquisar">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" :disabled="!filter">Pesquisar</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <b-table striped
                 outlined
                 hover
                 foot-clone
                 show-empty
                 stacked="md"
                 :items="items"
                 :fields="fields"
                 :current-page="currentPage"
                 :per-page="perPage"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 :filter="filter"
                 @filtered="onFiltered"
                 :sort-direction="sortDirection"
                 :empty-filtered-text="this.$tbSearchData"
                 :empty-text="this.$tbNoData" >
            <template slot="actions" slot-scope="row">
                <button size="sm" @click.stop="botaoCLicked(row.item)" class="btn btn-default-mv btn-icon-mv">
                  <span class="mv-basico-seta_direita mv-basico-icon-btn"></span>
                </button>
            </template>
            <template slot="FOOT_cd_pro_fat" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop >Total </strong>
            </template>
            <template slot="FOOT_ds_pro_fat" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop ></strong>
            </template>
            <template slot="FOOT_qt_produzido" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop > {{total_produzido}} </strong>
            </template>
            <template slot="FOOT_qt_faturado" slot-scope="items">
              <!-- A custom formatted footer cell  for field 'name' -->
              <strong @click.stop>{{ total_faturado }}</strong>
            </template>
            <template slot="FOOT_vl_liberado" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop > {{total_liberado}} </strong>
            </template>
            <template slot="FOOT_vl_glosado" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop > {{total_glosado}}</strong>
            </template>
            <template slot="FOOT_actions" slot-scope="items">
                <!-- A custom formatted footer cell  for field 'name' -->
                <strong @click.stop ></strong>
            </template>
        </b-table>
        <b-row>
            <b-col md="6" class="my-1">
                <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
            </b-col>
        </b-row>
    </div>
</template>

<script>
import RepasseService from '@/domain/producao/RepasseService.js';
import EventBus from '@/EventBus/event-bus';
import capitalizer from '@/utils/captalize.js';
var currencyFormatter = require('currency-formatter');

const procedimento = {
  cd_pro_fat: null,
  ds_pro_fat: null
}

export default {
  name: 'procedimento',
  mixins: [capitalizer],
  data () {
    return {
      filter: null,
      total_produzido: 0,
      total_faturado: 0,
      total_confirmado: 0,
      total_liberado: 0,
      total_glosado: 0,
      items: [
      ],
      fields: [
        { key: 'cd_pro_fat', label: 'Procedimento' },
        { key: 'ds_pro_fat', label: 'Descrição' },
        { key: 'qt_produzido', label: 'Produção' },
        { key: 'qt_faturado', label: 'Faturado' },
        { key: 'vl_liberado', label: 'Liberado' },
        { key: 'vl_glosado', label: 'Glosa' },
        { key: 'actions', label: 'Detalhes', 'class': 'text-center' }

      ],
      sortBy: 'cd_chamados',
      sortDesc: true,
      sortDirection: 'desc',
      currentPage: 1,
      perPage: 10,
      totalRows: null,
      hospital: null,
      convenio: null
    }
  },
  methods: {
    onFiltered (filteredItems) {
      this.total_produzido = 0
      this.total_faturado = 0
      this.total_liberado = 0
      this.total_glosado = 0
      for (var i = 0; i < filteredItems.length; i++) {
        this.total_produzido += filteredItems[i].qt_produzido;
        this.total_faturado += filteredItems[i].qt_faturado;
        filteredItems[i].vl_liberado = currencyFormatter.unformat(filteredItems[i].vl_liberado, { code: 'BRL' })
        this.total_liberado += filteredItems[i].vl_liberado;
        filteredItems[i].vl_liberado = currencyFormatter.format(filteredItems[i].vl_liberado, { code: 'BRL' })
        filteredItems[i].vl_glosado = currencyFormatter.unformat(filteredItems[i].vl_glosado, { code: 'BRL' })
        this.total_glosado += filteredItems[i].vl_glosado;
        filteredItems[i].vl_glosado = currencyFormatter.format(filteredItems[i].vl_glosado, { code: 'BRL' })
      }
      this.total_liberado = currencyFormatter.format(this.total_liberado, { code: 'BRL' })
      this.total_glosado = currencyFormatter.format(this.total_glosado, { code: 'BRL' })
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    botaoCLicked (item) {
      procedimento.cd_pro_fat = item.cd_pro_fat;
      procedimento.ds_pro_fat = item.ds_pro_fat;
      this.$store.commit('UPDATE_PROCEDIMENTO', procedimento);
      this.$router.push('/workflow/producao/procedimento/data');
    },
    pegaDadosProcedimento () {
      let loader = this.$loading.show();
      this.total_produzido = 0;
      this.total_faturado = 0;
      this.total_liberado = 0;
      this.total_glosado = 0;
      this.service.buscaConvenio(this.$store.state.dataCalendario,
        this.$store.state.hospital.cd_convenio,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.hospital.cd_multi_empresa,
        this.$store.state.cliente.cd_prestador_flow).then(
        res => {
          this.items = res.data;
          for (var i = 0; i < res.data.length; i++) {
            this.totalRows = res.data.length;
            this.total_produzido += res.data[i].qt_produzido;
            this.total_faturado += res.data[i].qt_faturado;
            this.total_liberado += res.data[i].vl_liberado;
            this.total_glosado += res.data[i].vl_glosado;
            res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
            res.data[i].vl_glosado = currencyFormatter.format(res.data[i].vl_glosado, { code: 'BRL' });
            res.data[i].ds_pro_fat = this.captalize(res.data[i].ds_pro_fat);
          }
          this.total_liberado = currencyFormatter.format(this.total_liberado, { code: 'BRL' });
          this.total_glosado = currencyFormatter.format(this.total_glosado, { code: 'BRL' });
          loader.hide();
        }, err => {
          loader.hide();
          console.log(err);
        });
    },
    pegaDadosProcedimentoEquipe () {
      let loader = this.$loading.show();
      this.total_produzido = 0;
      this.total_faturado = 0;
      this.total_liberado = 0;
      this.total_glosado = 0;
      this.service.buscaConvenioEquipe(this.$store.state.dataCalendario,
        this.$store.state.hospital.cd_convenio,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.hospital.cd_multi_empresa,
        this.$store.state.cliente.cd_prestador_equipe_escolhido,
        this.$store.state.cliente.cd_equipe_escolhido).then(
        res => {
          this.items = res.data;
          for (var i = 0; i < res.data.length; i++) {
            this.totalRows = res.data.length;
            this.total_produzido += res.data[i].qt_produzido;
            this.total_faturado += res.data[i].qt_faturado;
            this.total_liberado += res.data[i].vl_liberado;
            this.total_glosado += res.data[i].vl_glosado;
            res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
            res.data[i].vl_glosado = currencyFormatter.format(res.data[i].vl_glosado, { code: 'BRL' });
            res.data[i].ds_pro_fat = this.captalize(res.data[i].ds_pro_fat);
          }
          this.total_liberado = currencyFormatter.format(this.total_liberado, { code: 'BRL' });
          this.total_glosado = currencyFormatter.format(this.total_glosado, { code: 'BRL' });
          loader.hide();
        }, err => {
          loader.hide();
          console.log(err);
        });
    }
  },
  created () {
    this.service = new RepasseService();
    EventBus.$emit('EVENT_BREADCRUMB', {
      text: this.$store.state.route.name,
      to: {
        name: this.$store.state.route.name
      }
    });
    if (!this.$store.state.cliente.cd_prestador_equipe_escolhido) {
      this.pegaDadosProcedimento()
    } else {
      this.pegaDadosProcedimentoEquipe()
    }
    EventBus.$on(this.EVENT_DATA, data => {
      if (!this.$store.state.cliente.cd_prestador_equipe_escolhido) {
        this.pegaDadosProcedimento()
      } else {
        this.pegaDadosProcedimentoEquipe()
      }
    });
  }
};
</script>
