<template>
  <div>
    <div>
      <!-- Main table element -->
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" v-model="filter" placeholder="Pesquisar">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default" :disabled="!filter">Pesquisar</button>
            </div>
          </div>
        </div>
      </div>
      <small>
        <b>Repasse</b>
      </small>
      <b-table ref="table" striped outlined hovershow-empty foot-clone show-empty stacked="md" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter" @filtered="onFiltered" :empty-filtered-text="this.$tbSearchData" :empty-text="this.$tbNoData">
        <template slot="actions" slot-scope="row">
          <div class="row">
            <div class="col" v-if="row.item.cd_convenio">
              <button size="sm" @click.stop="botaoCLickedRepasseHospital(row.item)" class="btn btn-default-mv btn-icon-mv">
                <span class="mv-basico-seta_baixo mv-basico-icon-btn"></span>
              </button>
            </div>
            <div class="col" v-else>
              <button size="sm" @click.stop="botaoCLickedRepasseManual(row.item)" class="btn btn-default-mv btn-icon-mv">
              <span class="mv-basico-seta_baixo mv-basico-icon-btn"></span>
              </button>
            </div>
            <div class="col" v-if="row.item.cd_convenio">
              <button size="sm" @click.stop="botaoCLicked(row.item)" class="btn btn-default-mv btn-icon-mv">
                <span class="mv-basico-seta_direita mv-basico-icon-btn"></span>
              </button>
            </div>
          </div>
        </template>
        <template slot="FOOT_ds_multi_empresa" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>Total </strong>
        </template>
        <template slot="FOOT_nm_convenio" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
        </template>
        <template slot="FOOT_qt_produzido" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>{{ total_produzido }}</strong>
        </template>
        <template slot="FOOT_qt_faturado" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>{{ total_faturado }}</strong>
        </template>
        <template slot="FOOT_vl_liberado" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>{{ total_liberado }}</strong>
        </template>
        <template slot="FOOT_vl_glosado" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>{{ total_glosado }}</strong>
        </template>
        <template slot="FOOT_actions" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
        </template>
      </b-table>
      <b-row>
        <b-col md="6" class="my-1">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
    </div>
    <br>
    <div v-if="!manual">
      <small>
        <b>Repasse por Convênio</b>
      </small>
      <b-table ref="table2" striped outlined hovershow-empty show-empty stacked="md" foot-clone :current-page="currentPage2" :per-page="perPage2" :items="items2" :fields="fields2" :empty-filtered-text="this.$tbSearchData" :empty-text="this.$tbNoData">
        <template slot="actions" slot-scope="row">
          <button size="sm" @click.stop="botaoCLickedRepasseConvenio(row.item)" class="btn btn-default-mv btn-icon-mv">
            <span class="mv-basico-seta_direita mv-basico-icon-btn"></span>
          </button>
        </template>
        <template slot="FOOT_ds_multi_empresa" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>Total </strong>
        </template>
        <template slot="FOOT_ds_repasse" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
        </template>
        <template slot="FOOT_nm_convenio" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
        </template>
        <template slot="FOOT_vl_liberado" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>{{ total_liberado_repasse }} </strong>
        </template>
        <template slot="FOOT_actions" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
        </template>
      </b-table>
      <b-row>
        <b-col md="6" class="my-1">
          <b-pagination :total-rows="totalRows2" :per-page="perPage2" v-model="currentPage2" class="my-0" />
        </b-col>
      </b-row>
    </div>
    <div v-else>
      <small>
        <b>Repasse Manual</b>
      </small>
      <b-table ref="table3" striped outlined hovershow-empty show-empty stacked="md" foot-clone :current-page="currentPage3" :per-page="perPage3" :items="items3" :fields="fields3" :empty-text="this.$tbNoData">
        <template slot="actions" slot-scope="row">
          <button size="sm" @click.stop="botaoCLickedRepasseConvenio(row.item)" class="btn btn-default-mv btn-icon-mv">
            <span class="mv-basico-seta_direita mv-basico-icon-btn"></span>
          </button>
        </template>
        <template slot="FOOT_ds_multi_empresa" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>Total </strong>
        </template>
        <template slot="FOOT_ds_repasse" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
        </template>
        <template slot="FOOT_vl_liberado" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>{{ total_liberado_manual }} </strong>
        </template>
        <template slot="FOOT_actions" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
        </template>
      </b-table>
      <b-row>
        <b-col md="6" class="my-1">
          <b-pagination :total-rows="totalRows2" :per-page="perPage2" v-model="currentPage2" class="my-0" />
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import RepasseService from '@/domain/producao/RepasseService.js';
import EventBus from '@/EventBus/event-bus';
import capitalizer from '@/utils/captalize.js';
var currencyFormatter = require('currency-formatter');

const hospital = {
  nm_hospital: null,
  cd_convenio: null,
  nm_convenio: null,
  cd_repasse: null,
  ds_repasse: null,
  cd_multi_empresa: null
};
export default {
  name: 'Producao',
  mixins: [capitalizer],
  data () {
    return {
      filter: null,
      total: 0,
      total_produzido: 0,
      total_faturado: 0,
      total_liberado: 0,
      total_glosado: 0,
      items: [],
      fields: [
        { key: 'ds_multi_empresa', label: 'Hospital', sortDirection: 'asc' },
        { key: 'nm_convenio', label: 'Convênio' },
        { key: 'qt_produzido', label: 'Produção' },
        { key: 'qt_faturado', label: 'Faturado' },
        { key: 'vl_liberado', label: 'Liberado' },
        { key: 'vl_glosado', label: 'Glosa' },
        { key: 'actions', label: 'Detalhes', class: 'text-center' }
      ],
      items2: [],
      fields2: [
        { key: 'ds_multi_empresa', label: 'Hospital', sortDirection: 'asc' },
        { key: 'ds_repasse', label: 'Repasse' },
        { key: 'nm_convenio', label: 'Convênio' },
        { key: 'vl_liberado', label: 'Liberado' },
        { key: 'actions', label: 'Detalhes', class: 'text-center' }
      ],
      items3: [],
      fields3: [
        { key: 'ds_multi_empresa', label: 'Hospital', sortDirection: 'asc' },
        { key: 'ds_repasse', label: 'Repasse' },
        { key: 'vl_liberado', label: 'Liberado' }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: null,
      currentPage2: 1,
      perPage2: 10,
      totalRows2: null,
      currentPage3: 1,
      perPage3: 10,
      totalRows3: null,
      sortBy: 'hospital',
      sortDesc: false,
      sortDirection: 'asc',
      EVENT_DATA: this.$store.state.route.path + '-EVENT_DATA',
      total_liberado_repasse: 0,
      convenio_repasse: '',
      manual: false,
      manual_convenio_repasse: '',
      total_liberado_manual: 0
    };
  },
  methods: {
    onFiltered (filteredItems) {
      this.total_produzido = 0
      this.total_faturado = 0
      this.total_liberado = 0
      this.total_glosado = 0
      for (var i = 0; i < filteredItems.length; i++) {
        this.total_produzido += filteredItems[i].qt_produzido;
        this.total_faturado += filteredItems[i].qt_faturado;
        filteredItems[i].vl_liberado = currencyFormatter.unformat(filteredItems[i].vl_liberado, { code: 'BRL' })
        this.total_liberado += filteredItems[i].vl_liberado;
        filteredItems[i].vl_liberado = currencyFormatter.format(filteredItems[i].vl_liberado, { code: 'BRL' })
        filteredItems[i].vl_glosado = currencyFormatter.unformat(filteredItems[i].vl_glosado, { code: 'BRL' })
        this.total_glosado += filteredItems[i].vl_glosado;
        filteredItems[i].vl_glosado = currencyFormatter.format(filteredItems[i].vl_glosado, { code: 'BRL' })
      }
      this.total_liberado = currencyFormatter.format(this.total_liberado, { code: 'BRL' })
      this.total_glosado = currencyFormatter.format(this.total_glosado, { code: 'BRL' })
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    botaoCLicked (item) {
      hospital.ds_multi_empresa = item.ds_multi_empresa;
      hospital.cd_multi_empresa = item.cd_multi_empresa;
      hospital.cd_convenio = item.cd_convenio;
      hospital.nm_convenio = item.nm_convenio;
      this.$store.commit('UPDATE_CONVENIO', hospital);
      this.$router.push('/workflow/producao/procedimento');
    },
    botaoCLickedRepasseHospital (item) {
      this.manual = false;
      this.$store.commit('UPDATE_CONVENIO_REPASSE', item);
      this.pegaDadosRepasseHospital(this.$store.state.hospital.cd_convenio_repasse);
    },
    botaoCLickedRepasseManual (item) {
      this.manual = true;
      this.pegaDadosRepasseManual(item.cd_multi_empresa);
    },
    botaoCLickedRepasseConvenio (item) {
      hospital.ds_cliente = item.ds_multi_empresa;
      hospital.cd_convenio = item.cd_convenio;
      hospital.nm_convenio = item.nm_convenio;
      hospital.cd_repasse = item.cd_repasse;
      hospital.ds_repasse = item.ds_repasse;
      this.$store.commit('UPDATE_REPASSE', hospital);
      this.$router.push('/workflow/producao/repasse');
    },
    pegaDadosRepasse () {
      let loader = this.$loading.show();
      this.total_produzido = 0;
      this.total_faturado = 0;
      this.total_liberado = 0;
      this.total_glosado = 0;
      this.service.busca(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador_flow)
        .then(
          res => {
            this.items = res.data;
            this.totalRows = res.data.length;
            for (var i = 0; i < res.data.length; i++) {
              if (this.$store.state.hospital.cd_convenio_repasse === null) {
                this.$store.commit('UPDATE_CONVENIO_REPASSE', res.data[i]);
              } else {
                if (this.$store.state.route.from.fullPath !== '/workflow/producao/repasse') {
                  this.$store.commit('UPDATE_CONVENIO_REPASSE', res.data[0]);
                }
              }
              res.data[i].ds_cliente = this.$store.state.cliente.nm_multi_empresa;
              this.total_produzido += res.data[i].qt_produzido;
              this.total_faturado += res.data[i].qt_faturado;
              this.total_liberado += res.data[i].vl_liberado;
              this.total_glosado += res.data[i].vl_glosado;
              res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
              res.data[i].vl_glosado = currencyFormatter.format(res.data[i].vl_glosado, { code: 'BRL' });
              res.data[i].ds_multi_empresa = this.captalize(res.data[i].ds_multi_empresa);
              if (res.data[i].nm_convenio) {
                res.data[i].nm_convenio = this.captalize(res.data[i].nm_convenio);
              } else {
                res.data[i].nm_convenio = 'Repasse Manual'
              }
            }
            this.total_liberado = currencyFormatter.format(this.total_liberado, { code: 'BRL' });
            this.total_glosado = currencyFormatter.format(this.total_glosado, { code: 'BRL' });
            if (this.$store.state.hospital.cd_convenio_repasse != null) {
              loader.hide();
              this.pegaDadosRepasseHospital(this.$store.state.hospital.cd_convenio_repasse);
            }
            loader.hide();
          },
          err => {
            loader.hide();
            console.log(err);
          }
        );
    },
    pegaDadosRepasseHospital (cdconvenio) {
      let loader = this.$loading.show();
      this.total_liberado_repasse = 0;

      this.service.buscaHospitalRepasse(
        this.$store.state.dataCalendario,
        cdconvenio,
        this.$store.state.cliente.cd_repasse,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.hospital.cd_multi_empresa,
        this.$store.state.cliente.cd_prestador_flow
      )
        .then(
          res => {
            this.items2 = res.data;
            this.totalRows2 = res.data.length;
            for (var i = 0; i < res.data.length; i++) {
              this.total_liberado_repasse += res.data[i].vl_liberado;
              res.data[i].ds_repasse = res.data[i].cd_repasse + ' - ' + res.data[i].ds_repasse
              res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
              res.data[i].ds_multi_empresa = this.captalize(res.data[i].ds_multi_empresa);
              res.data[i].ds_repasse = this.captalize(res.data[i].ds_repasse);
              res.data[i].nm_convenio = this.captalize(res.data[i].nm_convenio);
            }
            this.total_liberado_repasse = currencyFormatter.format(this.total_liberado_repasse, { code: 'BRL' });
            loader.hide();
          },
          err => {
            loader.hide();
            console.log(err);
          }
        );
    },
    pegaDadosRepasseManual (cdmultiempresa) {
      let loader = this.$loading.show();
      this.total_liberado_repasse = 0;
      this.total_liberado_manual = 0;
      this.service.buscaRepasseManual(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        cdmultiempresa,
        this.$store.state.cliente.cd_prestador_flow
      )
        .then(
          res => {
            loader.hide();
            this.items3 = res.data;
            this.totalRows3 = res.data.length;
            for (var i = 0; i < res.data.length; i++) {
              this.total_liberado_manual += res.data[i].vl_liberado;
              res.data[i].ds_repasse = res.data[i].cd_repasse + ' - ' + res.data[i].ds_repasse
              res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
              res.data[i].ds_multi_empresa = this.captalize(res.data[i].ds_multi_empresa);
              // res.data[i].ds_repasse = this.captalize(res.data[i].ds_repasse);
            }
            this.total_liberado_manual = currencyFormatter.format(this.total_liberado_manual, { code: 'BRL' });
            loader.hide();
            console.log(res.data)
          },
          err => {
            loader.hide();
            console.log(err);
          }
        );
    }
  },
  beforeDestroy () {
    EventBus.$off(this.EVENT_DATA, this.pegaDados);
  },
  created () {
    this.$store.commit('UPDATE_PRESTADOR_FLOW', this.$store.state.cliente.cd_prestador);
    EventBus.$emit('EVENT_BREADCRUMB', {
      text: this.$store.state.route.name,
      to: {
        name: this.$store.state.route.name
      }
    });
    this.service = new RepasseService();
    this.pegaDadosRepasse();
    EventBus.$on(this.EVENT_DATA, data => {
      this.pegaDadosRepasse();
    });
  }
};
</script>
