<template>
    <div>
        <div>
            <h3>{{this.$store.state.hospital.ds_cliente}} - {{this.$store.state.hospital.ds_repasse}} - {{this.$store.state.hospital.nm_convenio}} </h3>
        </div>
        <!-- Main table element -->
      <b-table striped
              outlined
              hovershow-empty
              foot-clone
              stacked="md"
              :items="items"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
              :empty-filtered-text="this.$tbSearchData"
              :empty-text="this.$tbNoData">
      <template slot="actions" slot-scope="row">
          <b-button size="sm" @click.stop="botaoCLickedRepasseConvenio(row.item)" class="btn btn-block btn-default btn-sm mv-basico-seta_direita">
          </b-button>
        </template>
        <template slot="FOOT_dt_competencia" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>Total </strong>
        </template>
        <template slot="FOOT_cd_pro_fat" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
        </template>
        <template slot="FOOT_ds_pro_fat" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
        </template>
        <template slot="FOOT_nm_paciente" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
        </template>
        <template slot="FOOT_vl_liberado" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>{{ total_liberado }} </strong>
        </template>
      </b-table>
      <b-row>
        <b-col md="6" class="my-1">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
    </div>
</template>

<script>
import RepasseService from '@/domain/producao/RepasseService.js';
import EventBus from '@/EventBus/event-bus';
var moment = require('moment');
var currencyFormatter = require('currency-formatter');

export default {
  name: 'repasse',
  data () {
    return {
      total_liberado: 0,
      items: [
      ],
      fields: [
        { key: 'dt_competencia', label: 'Data' },
        { key: 'cd_pro_fat', label: 'Procedimento' },
        { key: 'ds_pro_fat', label: 'Descrição' },
        { key: 'nm_paciente', label: 'Paciente' },
        { key: 'vl_liberado', label: 'Liberado' }
      ],
      sortBy: 'dt_competencia',
      sortDesc: false,
      sortDirection: 'asc',
      currentPage: 1,
      perPage: 10,
      totalRows: null,
      filter: null,
      repasse: null,
      convenio: null,
      EVENT_DATA: this.$store.state.route.path + '-EVENT_DATA'
    }
  },
  methods: {
    pegaDadosRepasse () {
      let loader = this.$loading.show();
      this.service.buscaRepasseConveio(
        this.$store.state.dataCalendario,
        this.$store.state.hospital.cd_convenio,
        this.$store.state.hospital.cd_repasse,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.hospital.cd_multi_empresa,
        this.$store.state.cliente.cd_prestador_flow
      ).then(
        res => {
          this.total_produzido = 0;
          this.totalRows = res.data.length;
          for (var i = 0; i < res.data.length; i++) {
            this.total_liberado += res.data[i].vl_liberado;
            res.data[i].dt_competencia = moment(res.data[i].dt_competencia).add(4, 'hours');
            res.data[i].dt_competencia = moment(res.data[i].dt_competencia).format('DD/MM/YYYY');
            res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
          }
          this.items = res.data;
          this.total_liberado = currencyFormatter.format(this.total_liberado, { code: 'BRL' });
          loader.hide();
        }, err => {
          console.log(err);
          loader.hide();
        });
    },
    pegaDadosRepasseEquipe () {
      let loader = this.$loading.show();
      this.service.buscaRepasseConveioEquipe(
        this.$store.state.dataCalendario,
        this.$store.state.hospital.cd_convenio,
        this.$store.state.hospital.cd_repasse,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.hospital.cd_multi_empresa,
        this.$store.state.cliente.cd_prestador_equipe_escolhido,
        this.$store.state.cliente.cd_equipe_escolhido
      ).then(
        res => {
          this.total_produzido = 0;
          this.totalRows = res.data.length;
          for (var i = 0; i < res.data.length; i++) {
            this.total_liberado += res.data[i].vl_liberado;
            res.data[i].dt_competencia = moment(res.data[i].dt_competencia).add(4, 'hours');
            res.data[i].dt_competencia = moment(res.data[i].dt_competencia).format('DD/MM/YYYY');
            res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
          }
          this.items = res.data;
          this.total_liberado = currencyFormatter.format(this.total_liberado, { code: 'BRL' });
          loader.hide();
        }, err => {
          console.log(err);
          loader.hide();
        });
    }
  },
  beforeDestroy () {
    EventBus.$off(this.EVENT_DATA, this.pegaDados)
  },
  created () {
    this.service = new RepasseService();
    EventBus.$emit('EVENT_BREADCRUMB', {
      text: this.$store.state.route.name,
      to: {
        name: this.$store.state.route.name
      }
    });
    if (!this.$store.state.cliente.cd_prestador_equipe_escolhido) {
      this.pegaDadosRepasse()
    } else {
      this.pegaDadosRepasseEquipe()
    }
    EventBus.$on(this.EVENT_DATA, (data) => {
      if (!this.$store.state.cliente.cd_prestador_equipe_escolhido) {
        this.pegaDadosRepasse()
      } else {
        this.pegaDadosRepasseEquipe()
      }
    });
  }
};
</script>
