<template>
   <div class="">
      <div class="row">
        <div class="col">
          <router-link :to="{ path: '/producao/detalhe'}" class="boxBord">
             <card :valor="total_produzido" :msgCard="'Produção'">
             </card>
          </router-link>
        </div>
        <div class="col">
          <router-link :to="{ path: '/faturado/detalhe'}" class="boxBord">
             <card :valor="total_faturado" :msgCard="'Faturado'">
             </card>
          </router-link>
        </div>
        <div class="col">
          <router-link :to="{ path: '/liberado/detalhe'}" class="boxBord">
             <card :valor="total_liberado" :msgCard="'Liberado'">
             </card>
          </router-link>
        </div>
        <div class="col">
          <card :valor="total_glosado" :msgCard="'Glosa'">
          </card>
        </div>
        <div class="col">
          <router-link :to="{ path: '/workflow/historico'}" class="boxBord">
            <card :valor="historico" :msgCard="'Histórico / ' + ano_calendario">
            </card>
          </router-link>
        </div>
      </div>
      <br>
      <div class="row">
         <div class="col-md-12">
            <div>
               <span class="text-cinza">
               <b>Acesso rápido</b>
               </span>
               <div class="box-body" style="border: 1px solid #cccccc;">
                  <b-table ref="table" show-empty stacked="md" :items="items" :fields="fields" :empty-filtered-text="this.$tbSearchData" :empty-text="this.$tbNoData">
                  </b-table>
               </div>
            </div>
         </div>
         <!--
            <div class="col-md-6">
              <ultimas-notificacoes></ultimas-notificacoes>
            </div>
            -->
      </div>
   </div>
</template>

<script>
import RepasseService from '@/domain/producao/RepasseService.js';
import Card from '@/components/Card'
import EventBus from '@/EventBus/event-bus';
import capitalizer from '@/utils/captalize.js';
var currencyFormatter = require('currency-formatter');

export default {
  name: 'Home',
  mixins: [capitalizer],
  data () {
    return {
      total_produzido: 0,
      total_faturado: 0,
      total_liberado: 0,
      total_glosado: 0,
      historico: 0,
      ano_calendario: 0,
      items: [
      ],
      fields: [
        { key: 'ds_multi_empresa', label: 'Hospital', sortDirection: 'asc' },
        { key: 'qt_lancamento', label: 'Produção' },
        { key: 'vl_liberado', label: 'Liberado' }
      ],
      sortBy: 'hospital',
      sortDesc: false,
      sortDirection: 'asc',
      EVENT_DATA: this.$store.state.route.path + '-EVENT_DATA'
    };
  },
  components: {
    Card
  },
  methods: {
    pegaTableRepasse () {
      let loader = this.$loading.show();
      this.service.buscaHome(this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_multi_empresa,
        this.$store.state.cliente.cd_prestador).then(
        res => {
          this.items = res.data;
          for (var i = 0; i < res.data.length; i++) {
            res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
            res.data[i].ds_multi_empresa = this.captalize(res.data[i].ds_multi_empresa);
          }
          loader.hide();
        }, err => {
          loader.hide();
          console.log(err)
        });
    },
    pegaDadosRepasse () {
      var aux = this.$store.state.dataCalendario.split('/');
      this.ano_calendario = aux[1];
      this.qtd_producao();
      this.qtd_faturado();
      this.receber_glosa_historico();
    },
    qtd_producao () {
      this.total_produzido = 0;
      let loader = this.$loading.show();
      this.service.buscaHomeProducao(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            if (res.data.length > 0) {
              this.total_produzido = res.data[0].qt_lancamento;
            }
            loader.hide();
          },
          err => {
            console.log(err);
            loader.hide();
          }
        );
    },
    qtd_faturado () {
      this.total_faturado = 0;
      let loader = this.$loading.show();
      this.service.buscaHomeFaturado(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            if (res.data.length > 0) {
              this.total_faturado = res.data[0].qt_lancamento;
            }
            loader.hide();
          },
          err => {
            console.log(err);
            loader.hide();
          }
        );
    },
    receber_glosa_historico () {
      let loader = this.$loading.show();
      this.total_liberado = 0;
      this.total_glosado = 0;
      this.historico = 0;
      this.service.buscaHomeGlosaLiberado(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            if (res.data.length > 0) {
              this.total_liberado = currencyFormatter.format(res.data[0].valor, { code: 'BRL' });
              this.total_glosado = currencyFormatter.format(res.data[1].valor, { code: 'BRL' });
              this.historico = currencyFormatter.format(res.data[2].valor, { code: 'BRL' });
            }
            loader.hide();
          },
          err => {
            console.log(err);
            loader.hide();
          }
        );
    }
  },
  beforeDestroy () {
    EventBus.$off(this.EVENT_DATA, this.pegaDados);
  },
  created () {
    this.service = new RepasseService();
    this.pegaDadosRepasse();
    this.pegaTableRepasse();
    EventBus.$on(this.EVENT_DATA, data => {
      this.pegaDadosRepasse();
      this.pegaTableRepasse();
    });
  }
};
</script>
