<template>
  <div>
  <div class="row">
        <div class="col-md-3" @click="produzido" >
        <router-link :to="{ path: ''}" class="boxBord">
            <card :valor="total_produzido" :msgCard="'Qtd Produzida'">
            </card>
          </router-link>
        </div>
        <div class="col-md-3" @click="recebidoTabela">
          <router-link :to="{ path: ''}" class="boxBord">
            <card :valor="total_recebido" :msgCard="'Qtd Recebida'">
            </card>
          </router-link>
        </div>
        <div class="col-md-3" >
            <card :valor="valor_recebido" :msgCard="'Valor Recebido'">
            </card>
        </div>
        <div class="col-md-3" @click="pendenteTabela">
          <router-link :to="{ path: ''}" class="boxBord">
            <card :valor="total_pendente" :msgCard="'Qtd Pendente Faturamento'">
            </card>
          </router-link>
        </div>
    </div>
    <div v-if="this.exibir_grafico">
      <div v-if="this.labels.length > 0" class="box-body">
        <div v-if="this.dataRecebido.length > 0">
          <line-chart :labels="this.labels" :dataRecebido="this.dataRecebido" :dataPendente="this.dataPendente">
          </line-chart>
        </div>
      </div>
    </div>
    <br>
    <div v-if="detalheSelecionado && !recebidoSelecionado">
      <div class="row">
          <div class="col-md-8">
          <h5 class="m-0 mv-titulo">
              <b>
                 {{titulo_tabela}}
              </b>
            </h5>
          </div>
          <div class="col-md-4">
          <div class="input-group">
              <input type="text" class="form-control" v-model="filter" placeholder="Pesquisar">
              <div class="input-group-btn">
              <button type="button" class="btn btn-default" :disabled="!filter" @click="filtrar">Pesquisar</button>
              </div>
          </div>
          </div>
      </div>
      <br>
      <div class="table-responsive">
      <b-table ref="table" striped outlined
          responsive
          hover show-empty stacked="md"
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          @filtered="onFiltered"
          :empty-filtered-text="this.$tbSearchData"
          :empty-text="this.$tbNoData"
          foot-clone>
          <template slot="HEAD_cd_atendimento" slot-scope="items">
            <button size="sm" id="exPopoverReactive6"
              :disabled="popoverShow6"
              variant="primary"
              class="btn btn-icon-mv-filtro">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_ds_pro_fat" slot-scope="items">
            <button size="sm" id="exPopoverReactive1"
              :disabled="popoverShow"
              variant="primary"
              class="btn btn-icon-mv-filtro">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_data_exibicao" slot-scope="items">
            <button size="sm" id="exPopoverReactive7"
              :disabled="popoverShow7"
              variant="primary"
              class="btn btn-icon-mv-filtro">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_nm_convenio" slot-scope="items">
            <button size="sm" id="exPopoverReactive2"
              :disabled="popoverShow2"
              variant="primary"
              class="btn btn-icon-mv-filtro">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_ds_multi_empresa" slot-scope="items">
            <button size="sm" id="exPopoverReactive3"
              :disabled="popoverShow3"
              variant="primary"
              class="btn btn-icon-mv-filtro">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_tp_consulta" slot-scope="items">
            <button size="sm" id="exPopoverReactive4"
              :disabled="popoverShow4"
              variant="primary"
              class="btn btn-icon-mv-filtro">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_competencia" slot-scope="items">
            <button size="sm" id="exPopoverReactive9"
              :disabled="popoverShow9"
              variant="primary"
              class="btn btn-icon-mv-filtro">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="FOOT_cd_atendimento" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>Total</strong>
          </template>
          <template slot="FOOT_nm_paciente" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_ds_pro_fat" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_qt_lancamento" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>{{ qt_produzido }}</strong>
          </template>
          <template slot="FOOT_valor" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>{{ valor_total }} </strong>
          </template>
          <template slot="FOOT_data_exibicao" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_nm_convenio" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_ds_multi_empresa" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_tp_consulta" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_competencia" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
      </b-table>
      </div>
      <b-row>
          <b-col md="6" class="my-1">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
          </b-col>
      </b-row>
      <div class="row">
        <div class="col-md-4">
          <b-popover target="exPopoverReactive6"
                    triggers="click"
                    :show.sync="popoverShow6"
                    placement="bottom"
                    ref="popover6"
                    @show="onShow">
            <template slot="title">
              <b-btn @click="onClose" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true"> &times;</span>
              </b-btn>
              Filtrar Atendimentos
            </template>
            <div>
              <v-select multiple :options="input6" placeholder=" Selecione o Atendimento " v-model="atendimentos">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
              <br>
              <b-btn @click="onClear6" size="sm" variant="danger">Limpar</b-btn>
              <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
            </div>
          </b-popover>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b-popover target="exPopoverReactive1"
                    triggers="click"
                    :show.sync="popoverShow"
                    placement="bottom"
                    ref="popover"
                    @show="onShow">
            <template slot="title">
              <b-btn @click="onClose" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true"> &times;</span>
              </b-btn>
              Filtrar Procedimentos
            </template>
            <div>
              <v-select multiple :options="input" placeholder=" Selecione o Procedimento " v-model="procedimentos">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
              <br>
              <b-btn @click="onClear" size="sm" variant="danger">Limpar</b-btn>
              <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
            </div>
          </b-popover>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b-popover target="exPopoverReactive7"
                    triggers="click"
                    :show.sync="popoverShow7"
                    placement="bottom"
                    ref="popover7"
                    @show="onShow">
            <template slot="title">
              <b-btn @click="onClose" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true"> &times;</span>
              </b-btn>
              Filtrar a Data de Lançamento
            </template>
            <div>
              <v-select multiple :options="input7" placeholder=" Selecione Data de Lançamento " v-model="lancamentos">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
              <br>
              <b-btn @click="onClear7" size="sm" variant="danger">Limpar</b-btn>
              <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
            </div>
          </b-popover>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b-popover target="exPopoverReactive2"
                    triggers="click"
                    :show.sync="popoverShow2"
                    placement="bottom"
                    ref="popover2"
                    @show="onShow">
            <template slot="title">
              <b-btn @click="onClose" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true"> &times;</span>
              </b-btn>
              Filtrar Convênios
            </template>
            <div>
              <v-select multiple :options="input2" placeholder=" Selecione o Convênio " v-model="convenios">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
              <br>
              <b-btn @click="onClear2" size="sm" variant="danger">Limpar</b-btn>
              <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
            </div>
          </b-popover>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b-popover target="exPopoverReactive3"
                    triggers="click"
                    :show.sync="popoverShow3"
                    placement="bottom"
                    ref="popover3"
                    @show="onShow">
            <template slot="title">
              <b-btn @click="onClose" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true"> &times;</span>
              </b-btn>
              Filtrar Hospital
            </template>
            <div>
              <v-select multiple :options="input3" placeholder=" Selecione o Hospital " v-model="hospitais">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
              <br>
              <b-btn @click="onClear3" size="sm" variant="danger">Limpar</b-btn>
              <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
            </div>
          </b-popover>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b-popover target="exPopoverReactive4"
                    triggers="click"
                    :show.sync="popoverShow4"
                    placement="bottom"
                    ref="popover4"
                    @show="onShow">
            <template slot="title">
              <b-btn @click="onClose" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true"> &times;</span>
              </b-btn>
              Filtrar Status
            </template>
            <div>
              <v-select multiple :options="input4" placeholder=" Selecione o Status " v-model="status">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
              <br>
              <b-btn @click="onClear4" size="sm" variant="danger">Limpar</b-btn>
              <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
            </div>
          </b-popover>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b-popover target="exPopoverReactive9"
                    triggers="click"
                    :show.sync="popoverShow9"
                    placement="bottom"
                    ref="popover9"
                    @show="onShow">
            <template slot="title">
              <b-btn @click="onClose" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true"> &times;</span>
              </b-btn>
              Filtrar Status
            </template>
            <div>
              <v-select multiple :options="input9" placeholder=" Selecione o Status " v-model="competencias">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
              <br>
              <b-btn @click="onClear9" size="sm" variant="danger">Limpar</b-btn>
              <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
            </div>
          </b-popover>
        </div>
      </div>
    </div>
    <div v-if="detalheSelecionado && recebidoSelecionado">
    <b-card no-body>
      <b-tabs card>
        <b-tab title="Repasse" active>
          <div class="row">
          <div class="col-md-8">
          <h5 class="m-0 mv-titulo">
              <b>
                 {{titulo_tabela}}
              </b>
            </h5>
          </div>
          <div class="col-md-4">
          <div class="input-group">
              <input type="text" class="form-control" v-model="filter" placeholder="Pesquisar">
              <div class="input-group-btn">
              <button type="button" class="btn btn-default" :disabled="!filter" @click="filtrar">Pesquisar</button>
              </div>
          </div>
          </div>
          </div>
          <br>
          <div class="table-responsive">
          <b-table ref="table" striped outlined
          responsive="true"
          hover show-empty stacked="md"
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          @filtered="onFiltered"
          :empty-filtered-text="this.$tbSearchData"
          :empty-text="this.$tbNoData"
          foot-clone>
          <template slot="HEAD_cd_atendimento" slot-scope="items">
            <button size="sm" id="exPopoverReactive6"
              :disabled="popoverShow6"
              variant="primary"
              class="btn btn-icon-mv-filtro-manual">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_ds_pro_fat" slot-scope="items">
            <button size="sm" id="exPopoverReactive1"
              :disabled="popoverShow"
              variant="primary"
              class="btn btn-icon-mv-filtro-manual ">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_data_exibicao" slot-scope="items">
            <button size="sm" id="exPopoverReactive7"
              :disabled="popoverShow7"
              variant="primary"
              class="btn btn-icon-mv-filtro-manual">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_nm_convenio" slot-scope="items">
            <button size="sm" id="exPopoverReactive2"
              :disabled="popoverShow2"
              variant="primary"
              class="btn btn-icon-mv-filtro-manual ">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_ds_multi_empresa" slot-scope="items">
            <button size="sm" id="exPopoverReactive3"
              :disabled="popoverShow3"
              variant="primary"
              class="btn btn-icon-mv-filtro-manual ">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_competencia" slot-scope="items">
            <button size="sm" id="exPopoverReactive9"
              :disabled="popoverShow9"
              variant="primary"
              class="btn btn-icon-mv-filtro-manual ">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="FOOT_cd_atendimento" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>Total</strong>
          </template>
          <template slot="FOOT_nm_paciente" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_ds_pro_fat" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_qt_lancamento" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>{{ qt_produzido }}</strong>
          </template>
          <template slot="FOOT_valor" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>{{ valor_total }} </strong>
          </template>
          <template slot="FOOT_data_exibicao" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_nm_convenio" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_ds_multi_empresa" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_tp_consulta" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_competencia" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          </b-table>
          </div>
          <b-row>
            <b-col md="6" class="my-1">
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
            </b-col>
          </b-row>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive6"
                        triggers="click"
                        :show.sync="popoverShow6"
                        placement="bottom"
                        ref="popover6"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onClose" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar Atendimentos
                </template>
                <div>
                  <v-select multiple :options="input6" placeholder=" Selecione o Atendimento " v-model="atendimentos">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear6" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive1"
                        triggers="click"
                        :show.sync="popoverShow"
                        placement="bottom"
                        ref="popover"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onClose" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar Procedimentos
                </template>
                <div>
                  <v-select multiple :options="input" placeholder=" Selecione o Procedimento " v-model="procedimentos">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive7"
                        triggers="click"
                        :show.sync="popoverShow7"
                        placement="bottom"
                        ref="popover7"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onClose" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar a Data de Lançamento
                </template>
                <div>
                  <v-select multiple :options="input7" placeholder=" Selecione a Data de Lançamento " v-model="lancamentos">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear7" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive2"
                        triggers="click"
                        :show.sync="popoverShow2"
                        placement="bottom"
                        ref="popover2"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onClose" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar Convênios
                </template>
                <div>
                  <v-select multiple :options="input2" placeholder=" Selecione o Convênio " v-model="convenios">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear2" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive3"
                        triggers="click"
                        :show.sync="popoverShow3"
                        placement="bottom"
                        ref="popover3"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onClose" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar Hospital
                </template>
                <div>
                  <v-select multiple :options="input3" placeholder=" Selecione o Hospital " v-model="hospitais">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear3" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive9"
                        triggers="click"
                        :show.sync="popoverShow9"
                        placement="bottom"
                        ref="popover9"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onClose" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar Competência
                </template>
                <div>
                  <v-select multiple :options="input9" placeholder=" Selecione a Competência " v-model="competencias">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear9" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
        </b-tab>
        <b-tab title="Manual">
          <div class="row">
          <div class="col-md-8">
          <h5 class="m-0 mv-titulo">
              <b>
                 Qtd Recebida
              </b>
            </h5>
          </div>
          <div class="col-md-4">
          <div class="input-group">
              <input type="text" class="form-control" v-model="filter2" placeholder="Pesquisar">
              <div class="input-group-btn">
              <button type="button" class="btn btn-default" :disabled="!filter2" @click="filtrar5">Pesquisar</button>
              </div>
          </div>
          </div>
          </div>
          <br>
          <b-table ref="table" striped outlined
          responsive="true"
          hover show-empty stacked="md"
          :items="items2"
          :fields="fields2"
          :current-page="currentPage2"
          :per-page="perPage2"
          :filter="filter2"
          :sort-by.sync="sortBy2"
          :sort-desc.sync="sortDesc2"
          @filtered="onFiltered2"
          :empty-filtered-text="this.$tbSearchData"
          :empty-text="this.$tbNoData"
          foot-clone
          >
          <template slot="HEAD_dt_lancamento" slot-scope="items">
            <button size="sm" id="exPopoverReactive8"
              :disabled="popoverShow8"
              variant="primary"
              class="btn btn-icon-mv-filtro-manual">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_ds_multi_empresa" slot-scope="items">
            <button size="sm" id="exPopoverReactive5"
              :disabled="popoverShow5"
              variant="primary"
              class="btn btn-icon-mv-filtro-manual">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_dt_competencia" slot-scope="items">
            <button size="sm" id="exPopoverReactive10"
              :disabled="popoverShow10"
              variant="primary"
              class="btn btn-icon-mv-filtro-manual">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="FOOT_cd_repasse" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>Total</strong>
          </template>
          <template slot="FOOT_ds_repasse" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_dt_lancamento" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_ds_multi_empresa" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_dt_competencia" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_valor" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>{{ total_liberado_tabela_manual }} </strong>
          </template>
          </b-table>
          <b-row>
            <b-col md="6" class="my-1">
            <b-pagination :total-rows="totalRows2" :per-page="perPage2" v-model="currentPage2" class="my-0" />
            </b-col>
          </b-row>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive8"
                        triggers="click"
                        :show.sync="popoverShow8"
                        placement="bottom"
                        ref="popover8"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onCloseManual" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar a Data de Lançamento
                </template>
                <div>
                  <v-select multiple :options="input8" placeholder=" Filtrar a Data de Lançamento " v-model="lancamentoManual">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear8" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar5" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive5"
                        triggers="click"
                        :show.sync="popoverShow5"
                        placement="bottom"
                        ref="popover5"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onCloseManual" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar Hospital
                </template>
                <div>
                  <v-select multiple :options="input5" placeholder=" Selecione o Hospital " v-model="hospitaisManual">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear5" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar5" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive10"
                        triggers="click"
                        :show.sync="popoverShow10"
                        placement="bottom"
                        ref="popover10"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onCloseManual" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar a Competência
                </template>
                <div>
                  <v-select multiple :options="input10" placeholder=" Selecione a Competência " v-model="competenciasManual">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear10" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar5" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
        </b-tab>
      </b-tabs>
    </b-card>
    </div>
  </div>
</template>

<script>
import RepasseService from '@/domain/producao/RepasseService.js';
import Card from '@/components/Card'
import capitalizer from '@/utils/captalize.js';
import EventBus from '@/EventBus/event-bus';
import LineChart from '@/pages/fluxo/LineChart';
var moment = require('moment');
var currencyFormatter = require('currency-formatter');

export default {
  name: 'FluxoTotal',
  mixins: [capitalizer],
  data () {
    return {
      filter: null,
      filter2: null,
      items: [],
      items2: [],
      fields: [
        { key: 'cd_atendimento', label: 'Atendimento' },
        { key: 'nm_paciente', label: 'Paciente' },
        { key: 'ds_pro_fat', label: 'Procedimento' },
        { key: 'qt_lancamento', label: 'Quantidade' },
        { key: 'valor', label: 'Valor' },
        { key: 'data_exibicao', label: 'Data' },
        { key: 'nm_convenio', label: 'Convênio' },
        { key: 'ds_multi_empresa', label: 'Hospital' },
        { key: 'tp_consulta', label: 'Status' },
        { key: 'competencia', label: 'Competência' }
      ],
      fields2: [
        { key: 'cd_repasse', label: 'Código' },
        { key: 'ds_repasse', label: 'Repasse' },
        { key: 'ds_multi_empresa', label: 'Hospital' },
        { key: 'dt_competencia', label: 'Competência' },
        { key: 'valor', label: 'Valor' }
      ],
      totalRows: 0,
      perPage: 10,
      currentPage: 1,
      sortBy: 'cd_atendimento',
      sortDesc: false,
      sortDirection: 'Ascending',
      totalRows2: 0,
      perPage2: 10,
      currentPage2: 1,
      sortBy2: 'cd_atendimento',
      sortDesc2: false,
      sortDirection2: 'Ascending',
      EVENT_DATA: this.$store.state.route.path + '-EVENT_DATA',
      total_produzido: 0,
      total_recebido: 0,
      valor_recebido: 0,
      total_pendente: 0,
      valor_total: 0,
      recebido: [],
      pendente: [],
      labels: [],
      dataRecebido: [],
      dataPendente: [],
      detalheSelecionado: false,
      qt_produzido: 0,
      recebidoSelecionado: false,
      total_liberado_tabela_manual: 0,
      exibir_grafico: true,
      titulo_tabela: '',
      popoverShow: false,
      popoverShow2: false,
      popoverShow3: false,
      popoverShow4: false,
      popoverShow5: false,
      popoverShow6: false,
      popoverShow7: false,
      popoverShow8: false,
      popoverShow9: false,
      popoverShow10: false,
      input: [],
      input2: [],
      input3: [],
      input4: [],
      input5: [],
      input6: [],
      input7: [],
      input8: [],
      input9: [],
      input10: [],
      atendimentos: [],
      procedimentos: [],
      lancamentos: [],
      convenios: [],
      hospitais: [],
      status: [],
      competencias: [],
      originalItems: [],
      originalItemsManual: [],
      hospitaisManual: [],
      lancamentoManual: [],
      competenciasManual: []
    }
  },
  components: {
    LineChart,
    Card
  },
  methods: {
    onClose () {
      this.filtrar();
    },
    filtrar () {
      var aux = [];
      this.items = this.originalItems;
      if (this.procedimentos.length > 0) {
        for (var i in this.items) {
          if (this.procedimentos.includes(this.items[i].ds_pro_fat)) {
            aux.push(this.items[i])
          }
        }
        this.items = aux;
      }
      this.popoverShow = false;
      this.filtrar2();
    },
    filtrar2 () {
      var aux = [];
      if (this.convenios.length > 0) {
        for (var j in this.items) {
          if (this.convenios.includes(this.items[j].nm_convenio)) {
            aux.push(this.items[j])
          }
        }
        this.items = aux;
      }
      this.popoverShow2 = false;
      this.filtrar3();
    },
    filtrar3 () {
      var aux = [];
      if (this.hospitais.length > 0) {
        for (var j in this.items) {
          if (this.hospitais.includes(this.items[j].ds_multi_empresa)) {
            aux.push(this.items[j])
          }
        }
        this.items = aux;
      }
      this.popoverShow3 = false;
      this.filtrar4();
    },
    filtrar4 () {
      var aux = [];
      if (this.status.length > 0) {
        for (var j in this.items) {
          if (this.status.includes(this.items[j].tp_consulta)) {
            aux.push(this.items[j])
          }
        }
        this.items = aux;
      }
      this.popoverShow4 = false;
      this.filtrar6();
    },
    filtrar6 () {
      var aux = [];
      if (this.atendimentos.length > 0) {
        for (var j in this.items) {
          if (this.atendimentos.includes(this.items[j].cd_atendimento)) {
            aux.push(this.items[j])
          }
        }
        this.items = aux;
      }
      this.popoverShow6 = false;
      this.filtrar7();
    },
    filtrar7 () {
      var aux = [];
      if (this.lancamentos.length > 0) {
        for (var j in this.items) {
          if (this.lancamentos.includes(this.items[j].data_exibicao)) {
            aux.push(this.items[j])
          }
        }
        this.items = aux;
      }
      this.popoverShow7 = false;
      this.filtrar9();
    },
    filtrar9 () {
      var aux = [];
      if (this.competencias.length > 0) {
        for (var j in this.items) {
          if (this.competencias.includes(this.items[j].competencia)) {
            aux.push(this.items[j])
          }
        }
        this.items = aux;
      }
      this.popoverShow9 = false;
    },
    onCloseManual () {
      this.filtrar5();
    },
    filtrar5 () {
      this.items2 = this.originalItemsManual;
      var aux = [];
      if (this.hospitaisManual.length > 0) {
        for (var j in this.items2) {
          if (this.hospitaisManual.includes(this.items2[j].ds_multi_empresa)) {
            aux.push(this.items2[j])
          }
        }
        this.items2 = aux;
      }
      this.popoverShow5 = false;
      this.filtrar8();
    },
    filtrar8 () {
      var aux = [];
      if (this.lancamentoManual.length > 0) {
        for (var j in this.items2) {
          if (this.lancamentoManual.includes(this.items2[j].dt_lancamento)) {
            aux.push(this.items2[j])
          }
        }
        this.items2 = aux;
      }
      this.popoverShow8 = false;
      this.filtrar10();
    },
    filtrar10 () {
      var aux = [];
      if (this.competenciasManual.length > 0) {
        for (var j in this.items2) {
          if (this.competenciasManual.includes(this.items2[j].dt_competencia)) {
            aux.push(this.items2[j])
          }
        }
        this.items2 = aux;
      }
      this.popoverShow10 = false;
    },
    onClear () {
      this.procedimentos = [];
      this.onClose();
    },
    onClear2 () {
      this.convenios = [];
      this.onClose();
    },
    onClear3 () {
      this.hospitais = [];
      this.onClose();
    },
    onClear4 () {
      this.status = [];
      this.onClose();
    },
    onClear5 () {
      this.hospitaisManual = [];
      this.onCloseManual();
    },
    onClear6 () {
      this.atendimentos = [];
      this.onClose();
    },
    onClear7 () {
      this.lancamentos = [];
      this.onClose();
    },
    onClear8 () {
      this.lancamentoManual = [];
      this.onCloseManual();
    },
    onClear9 () {
      this.competencias = [];
      this.onClose();
    },
    onClear10 () {
      this.competenciasManual = [];
      this.onCloseManual();
    },
    onShow () {
      /* This is called just before the popover is shown */
    },
    onFiltered (filteredItems) {
      this.qt_produzido = 0;
      this.valor_total = 0;
      for (var i = 0; i < filteredItems.length; i++) {
        this.qt_produzido += filteredItems[i].qt_lancamento;
        filteredItems[i].valor = currencyFormatter.unformat(filteredItems[i].valor, { code: 'BRL' })
        this.valor_total += filteredItems[i].valor;
        filteredItems[i].valor = currencyFormatter.format(filteredItems[i].valor, { code: 'BRL' });
      }
      this.valor_total = currencyFormatter.format(this.valor_total, { code: 'BRL' });
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    onFiltered2 (filteredItems) {
      this.total_liberado_tabela_manual = 0;
      for (var i = 0; i < filteredItems.length; i++) {
        filteredItems[i].valor = currencyFormatter.unformat(filteredItems[i].valor, { code: 'BRL' })
        this.total_liberado_tabela_manual += filteredItems[i].valor;
        filteredItems[i].valor = currencyFormatter.format(filteredItems[i].valor, { code: 'BRL' });
      }
      this.total_liberado_tabela_manual = currencyFormatter.format(this.total_liberado_tabela_manual, { code: 'BRL' });
      this.totalRows2 = filteredItems.length
      this.currentPage2 = 1
    },
    limpaFiltros () {
      this.input = [];
      this.input2 = [];
      this.input3 = [];
      this.input4 = [];
      this.input6 = [];
      this.input7 = [];
      this.input8 = [];
      this.input9 = [];
      this.input10 = [];
      this.procedimentos = [];
      this.convenios = [];
      this.hospitais = [];
      this.lancamentos = [];
      this.atendimentos = [];
      this.competencias = [];
      this.originalItems = [];
      this.status = [];
    },
    pegaVisaoProd () {
      this.limpaValores();
      this.detalhesRecebido();
      this.detalhesPendente();
      let loader = this.$loading.show();
      this.service.buscaVisaoprod(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            this.totalRows = res.data.length;
            for (var i = 0; i < res.data.length; i++) {
              res.data[i].data_exibicao = moment(res.data[i].data_exibicao).add(6, 'hours');
              res.data[i].data_exibicao = moment(res.data[i].data_exibicao).format('DD/MM');
              if (res.data[i].tp_consulta === 'A_RECEBER' || res.data[i].tp_consulta === 'MANUAL') {
                res.data[i].tp_consulta = 'Repassado';
                this.total_recebido += res.data[i].qt_lancamento;
                this.valor_recebido += res.data[i].valor;
              } else {
                res.data[i].tp_consulta = 'Pendente';
                this.total_pendente += res.data[i].qt_lancamento;
              }
              this.total_produzido += res.data[i].qt_lancamento;
              // labels para o gráfico
              if (this.labels.length === 0) {
                this.labels.push(res.data[i].data_exibicao);
              } else {
                if (!this.labels.includes(res.data[i].data_exibicao)) {
                  this.labels.push(res.data[i].data_exibicao);
                }
              }
            }
            this.valor_recebido = currencyFormatter.format(this.valor_recebido, { code: 'BRL' });
            loader.hide();
            if (this.totalRows > 0) {
              this.formataValoresGrafico();
            }
          }, err => {
            console.log(err);
            loader.hide();
          });
    },
    detalhesRecebido () {
      let loader = this.$loading.show();
      this.service.buscaVisaoprodRecebido(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            for (var i = 0; i < res.data.length; i++) {
              res.data[i].data = moment(res.data[i].data).add(6, 'hours');
              res.data[i].data = moment(res.data[i].data).format('DD/MM');
            }
            this.recebido = res.data
            loader.hide();
          }, err => {
            console.log(err);
            loader.hide();
          });
    },
    detalhesPendente () {
      let loader = this.$loading.show();
      this.service.buscaVisaoprodPendente(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            for (var i = 0; i < res.data.length; i++) {
              res.data[i].data = moment(res.data[i].data).add(6, 'hours');
              res.data[i].data = moment(res.data[i].data).format('DD/MM');
            }
            this.pendente = res.data
            loader.hide();
          }, err => {
            console.log(err);
            loader.hide();
          });
    },
    formataValoresGrafico () {
      for (var i = 0; i < this.labels.length; i++) {
        this.dataRecebido[i] = 0;
        for (var j = 0; j < this.recebido.length; j++) {
          if (this.recebido[j].data === this.labels[i]) {
            if (this.dataRecebido[i] === 0) {
              this.dataRecebido[i] = this.recebido[j].valor;
            }
          }
        }
      }
      for (var k = 0; k < this.labels.length; k++) {
        this.dataPendente[k] = 0;
        for (var l = 0; l < this.pendente.length; l++) {
          if (this.pendente[l].data === this.labels[k]) {
            this.dataPendente[k] = this.dataPendente[k] + this.pendente[l].valor;
            if (this.dataRecebido[i] === 0) {
              this.dataPendente[k] = this.pendente[l].valor;
            }
          }
        }
      }
    },
    produzido () {
      this.limpaFiltros();
      this.titulo_tabela = 'Qtd Produzida';
      this.exibir_grafico = false;
      this.items = [];
      this.qt_produzido = 0;
      this.valor_total = 0;
      let loader = this.$loading.show();
      this.service.buscaVisaoproduzido(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            this.totalRows = res.data.length;
            for (var i = 0; i < res.data.length; i++) {
              res.data[i].cd_atendimento = res.data[i].cd_atendimento.toString();
              if (!this.input6.includes(res.data[i].cd_atendimento)) {
                this.input6.push(res.data[i].cd_atendimento);
              }
              if (res.data[i].tp_consulta === 'A_RECEBER' || res.data[i].tp_consulta === 'MANUAL') {
                res.data[i].tp_consulta = 'Repassado';
              } else {
                res.data[i].tp_consulta = 'Pendente';
              }
              if (res.data[i].data_exibicao) {
                res.data[i].data_exibicao = moment(res.data[i].data_exibicao).add(6, 'hours');
                res.data[i].data_exibicao = moment(res.data[i].data_exibicao).format('DD/MM/YYYY');
                if (!this.input7.includes(res.data[i].data_exibicao)) {
                  this.input7.push(res.data[i].data_exibicao);
                }
              }
              if (!this.input4.includes(res.data[i].tp_consulta)) {
                this.input4.push(res.data[i].tp_consulta);
              }
              if (res.data[i].competencia) {
                res.data[i].competencia = moment(res.data[i].competencia).add(6, 'hours');
                res.data[i].competencia = moment(res.data[i].competencia).format('MM/YYYY');
                if (!this.input9.includes(res.data[i].competencia)) {
                  this.input9.push(res.data[i].competencia);
                }
              }
              res.data[i].ds_multi_empresa = this.captalize(res.data[i].ds_multi_empresa)
              if (!this.input3.includes(res.data[i].ds_multi_empresa)) {
                this.input3.push(res.data[i].ds_multi_empresa);
              }
              if (res.data[i].nm_convenio) {
                res.data[i].nm_convenio = this.captalize(res.data[i].nm_convenio)
                if (!this.input2.includes(res.data[i].nm_convenio)) {
                  this.input2.push(res.data[i].nm_convenio);
                }
              }
              if (res.data[i].nm_paciente) {
                res.data[i].nm_paciente = this.captalize(res.data[i].nm_paciente);
              }
              if (res.data[i].ds_pro_fat) {
                res.data[i].ds_pro_fat = res.data[i].cd_pro_fat + ' - ' + this.captalize(res.data[i].ds_pro_fat)
                res.data[i].ds_pro_fat = this.captalize(res.data[i].ds_pro_fat)
                if (!this.input.includes(res.data[i].ds_pro_fat)) {
                  this.input.push(res.data[i].ds_pro_fat);
                }
              }
              this.qt_produzido += res.data[i].qt_lancamento;
            }
            this.items = res.data;
            this.originalItems = res.data;
            loader.hide();
            this.detalheSelecionado = true;
            this.recebidoSelecionado = false;
          }, err => {
            console.log(err);
            loader.hide();
          });
    },
    recebidoTabela () {
      this.limpaFiltros();
      this.titulo_tabela = 'Qtd Recebida';
      this.items = [];
      this.qt_produzido = 0;
      this.valor_total = 0;
      this.exibir_grafico = false;
      let loader = this.$loading.show();
      this.service.buscaVisaoRecebidoTabela(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            this.totalRows = res.data.length;
            for (var i = 0; i < res.data.length; i++) {
              if (res.data[i].tp_consulta === 'A_RECEBER' || res.data[i].tp_consulta === 'MANUAL') {
                res.data[i].tp_consulta = 'Repassado';
              } else {
                res.data[i].tp_consulta = 'Pendente';
              }
              res.data[i].cd_atendimento = res.data[i].cd_atendimento.toString();
              if (!this.input6.includes(res.data[i].cd_atendimento)) {
                this.input6.push(res.data[i].cd_atendimento);
              }
              if (res.data[i].data_exibicao) {
                res.data[i].data_exibicao = moment(res.data[i].data_exibicao).add(6, 'hours');
                res.data[i].data_exibicao = moment(res.data[i].data_exibicao).format('DD/MM/YYYY');
                if (!this.input7.includes(res.data[i].data_exibicao)) {
                  this.input7.push(res.data[i].data_exibicao);
                }
              }
              res.data[i].competencia = moment(res.data[i].competencia).add(6, 'hours');
              res.data[i].competencia = moment(res.data[i].competencia).format('MM/YYYY');
              if (!this.input9.includes(res.data[i].competencia)) {
                this.input9.push(res.data[i].competencia);
              }
              this.valor_total += res.data[i].valor;
              res.data[i].ds_multi_empresa = this.captalize(res.data[i].ds_multi_empresa)
              if (!this.input3.includes(res.data[i].ds_multi_empresa)) {
                this.input3.push(res.data[i].ds_multi_empresa);
              }
              if (res.data[i].nm_convenio) {
                res.data[i].nm_convenio = this.captalize(res.data[i].nm_convenio)
                if (!this.input2.includes(res.data[i].nm_convenio)) {
                  this.input2.push(res.data[i].nm_convenio);
                }
              }
              if (res.data[i].nm_paciente) {
                res.data[i].nm_paciente = this.captalize(res.data[i].nm_paciente)
              }
              if (res.data[i].ds_pro_fat) {
                res.data[i].ds_pro_fat = res.data[i].cd_pro_fat + ' - ' + this.captalize(res.data[i].ds_pro_fat)
                res.data[i].ds_pro_fat = this.captalize(res.data[i].ds_pro_fat)
                if (!this.input.includes(res.data[i].ds_pro_fat)) {
                  this.input.push(res.data[i].ds_pro_fat);
                }
              }
              this.qt_produzido += res.data[i].qt_lancamento;
              res.data[i].valor = currencyFormatter.format(res.data[i].valor, { code: 'BRL' });
            }

            this.valor_total = currencyFormatter.format(this.valor_total, { code: 'BRL' });
            this.items = res.data;
            this.originalItems = res.data;
            loader.hide();
            this.detalheSelecionado = true;
            this.recebidoSelecionado = true;
          }, err => {
            console.log(err);
            loader.hide();
          });
      // *
      // REPASSE MANUAL
      // *
      this.service.buscaVisaoManualTabela(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            for (var i = 0; i < res.data.length; i++) {
              res.data[i].ds_repasse = this.captalize(res.data[i].ds_repasse);
              res.data[i].ds_multi_empresa = this.captalize(res.data[i].ds_multi_empresa);
              if (!this.input5.includes(res.data[i].ds_multi_empresa)) {
                this.input5.push(res.data[i].ds_multi_empresa);
              }
              if (res.data[i].dt_lancamento) {
                res.data[i].dt_lancamento = moment(res.data[i].dt_lancamento).add(6, 'hours');
                res.data[i].dt_lancamento = moment(res.data[i].dt_lancamento).format('DD/MM/YYYY');
                if (!this.input8.includes(res.data[i].dt_lancamento)) {
                  this.input8.push(res.data[i].dt_lancamento);
                }
              }
              res.data[i].dt_competencia = moment(res.data[i].dt_competencia).add(6, 'hours');
              res.data[i].dt_competencia = moment(res.data[i].dt_competencia).format('MM/YYYY');
              if (!this.input10.includes(res.data[i].dt_competencia)) {
                this.input10.push(res.data[i].dt_competencia);
              }
              res.data[i].valor = currencyFormatter.format(res.data[i].valor, { code: 'BRL' });
            }
            this.items2 = res.data;
            this.originalItemsManual = res.data;
          }, err => {
            console.log(err);
            loader.hide();
          });
    },
    pendenteTabela () {
      this.limpaFiltros();
      this.titulo_tabela = 'Qtd Pendente Faturamento'
      this.items = []
      this.qt_produzido = 0;
      this.valor_total = 0;
      this.exibir_grafico = false;
      let loader = this.$loading.show();
      this.service.buscapendente(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            this.totalRows = res.data.length;
            for (var i = 0; i < res.data.length; i++) {
              res.data[i].tp_consulta = 'Pendente';
              if (res.data[i].competencia) {
                res.data[i].competencia = moment(res.data[i].competencia).add(6, 'hours');
                res.data[i].competencia = moment(res.data[i].competencia).format('MM/YYYY');
                if (!this.input9.includes(res.data[i].competencia)) {
                  this.input9.push(res.data[i].competencia);
                }
              }
              res.data[i].cd_atendimento = res.data[i].cd_atendimento.toString();
              if (!this.input6.includes(res.data[i].cd_atendimento)) {
                this.input6.push(res.data[i].cd_atendimento);
              }
              if (res.data[i].data_exibicao) {
                res.data[i].data_exibicao = moment(res.data[i].data_exibicao).add(6, 'hours');
                res.data[i].data_exibicao = moment(res.data[i].data_exibicao).format('DD/MM/YYYY');
                if (!this.input7.includes(res.data[i].data_exibicao)) {
                  this.input7.push(res.data[i].data_exibicao);
                }
              }
              this.valor_total += res.data[i].valor;
              res.data[i].ds_multi_empresa = this.captalize(res.data[i].ds_multi_empresa)
              if (!this.input3.includes(res.data[i].ds_multi_empresa)) {
                this.input3.push(res.data[i].ds_multi_empresa);
              }
              if (res.data[i].nm_convenio) {
                res.data[i].nm_convenio = this.captalize(res.data[i].nm_convenio)
                if (!this.input2.includes(res.data[i].nm_convenio)) {
                  this.input2.push(res.data[i].nm_convenio);
                }
              }
              if (res.data[i].nm_paciente) {
                res.data[i].nm_paciente = this.captalize(res.data[i].nm_paciente);
              }
              if (res.data[i].ds_pro_fat) {
                res.data[i].ds_pro_fat = res.data[i].cd_pro_fat + ' - ' + this.captalize(res.data[i].ds_pro_fat)
                res.data[i].ds_pro_fat = this.captalize(res.data[i].ds_pro_fat)
                if (!this.input.includes(res.data[i].ds_pro_fat)) {
                  this.input.push(res.data[i].ds_pro_fat);
                }
              }
              this.qt_produzido += res.data[i].qt_lancamento;
              this.valor_total += res.data[i].valor;
              res.data[i].valor = currencyFormatter.format(res.data[i].valor, { code: 'BRL' });
            }

            this.valor_total = currencyFormatter.format(this.valor_total, { code: 'BRL' });
            this.items = res.data;
            loader.hide();
            this.detalheSelecionado = true;
            this.recebidoSelecionado = false;
          }, err => {
            console.log(err);
            loader.hide();
          });
    },
    limpaValores () {
      this.recebido = [];
      this.pendente = [];
      this.labels = [];
      this.dataRecebido = [];
      this.dataPendente = [];
      this.total_produzido = 0;
      this.total_recebido = 0;
      this.valor_recebido = 0;
      this.total_pendente = 0;
      this.valor_total = 0;
    }
  },
  beforeDestroy () {
    EventBus.$off(this.EVENT_DATA, this.pegaDados)
  },
  created () {
    this.service = new RepasseService();
    this.pegaVisaoProd()
    EventBus.$on(this.EVENT_DATA, (data) => {
      this.detalheSelecionado = false;
      this.exibir_grafico = true;
      this.pegaVisaoProd();
    });
  }
}
</script>