<template>
  <div>
    <div class="row">
        <div class="col-md-3">
          <card :valor="total_procedimentos" :msgCard="'Qtd Procedimentos'">
          </card>
        </div>
        <div class="col-md-3">
          <card :valor="total_liberado_repasse" :msgCard="'Valor Repasse'">
          </card>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <br>
    <b-card no-body>
      <b-tabs card>
        <b-tab title="Repasse" active>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" v-model="filter" placeholder="Pesquisar">
                    <div class="input-group-btn">
                    <button type="button" class="btn btn-default" :disabled="!filter" @click="filtrar">Pesquisar</button>
                    </div>
                </div>
                </div>
            </div>
            <br>
            <div class="table-responsive">
            <b-table ref="table" striped outlined
              hover show-empty stacked="md"
              :items="items"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              @filtered="onFiltered"
              :empty-filtered-text="this.$tbSearchData"
              :empty-text="this.$tbNoData"
              foot-clone>
              <template slot="HEAD_cd_atendimento" slot-scope="items">
                <button size="sm" id="exPopoverReactive7"
                  :disabled="popoverShow7"
                  variant="primary"
                  class="btn btn-icon-mv-filtro-manual ">
                  <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
                </button>
              </template>
              <template slot="HEAD_ds_pro_fat" slot-scope="items">
                <button size="sm" id="exPopoverReactive1"
                  :disabled="popoverShow"
                  variant="primary"
                  class="btn btn-icon-mv-filtro-manual ">
                  <span class="mv-basico-filtro mv-basico-icon-btn ">
                    <span class="mv-basico-texto-filtro ">
                      {{items.label}}
                    </span>
                  </span>
                </button>
              </template>
              <template slot="HEAD_data_exibicao" slot-scope="items">
                <button size="sm" id="exPopoverReactive6"
                  :disabled="popoverShow6"
                  variant="primary"
                  class="btn btn-icon-mv-filtro-manual ">
                  <span class="mv-basico-filtro mv-basico-icon-btn ">
                    <span class="mv-basico-texto-filtro ">
                      {{items.label}}
                    </span>
                  </span>
                </button>
              </template>
              <template slot="HEAD_nm_convenio" slot-scope="items">
                <button size="sm" id="exPopoverReactive2"
                  :disabled="popoverShow2"
                  variant="primary"
                  class="btn btn-icon-mv-filtro-manual ">
                  <span class="mv-basico-filtro mv-basico-icon-btn ">
                    <span class="mv-basico-texto-filtro ">
                      {{items.label}}
                    </span>
                  </span>
                </button>
              </template>
              <template slot="HEAD_ds_multi_empresa" slot-scope="items">
                <button size="sm" id="exPopoverReactive3"
                  :disabled="popoverShow3"
                  variant="primary"
                  class="btn btn-icon-mv-filtro-manual ">
                  <span class="mv-basico-filtro mv-basico-icon-btn ">
                    <span class="mv-basico-texto-filtro ">
                      {{items.label}}
                    </span>
                  </span>
                </button>
              </template>
              <template slot="FOOT_cd_atendimento" slot-scope="items">
              <!-- A custom formatted footer cell  for field 'name' -->
              <strong @click.stop>Total</strong>
              </template>
              <template slot="FOOT_nm_paciente" slot-scope="items">
              <!-- A custom formatted footer cell  for field 'name' -->
              <strong @click.stop></strong>
              </template>
              <template slot="FOOT_ds_pro_fat" slot-scope="items">
              <!-- A custom formatted footer cell  for field 'name' -->
              <strong @click.stop></strong>
              </template>
              <template slot="FOOT_data_exibicao" slot-scope="items">
              <!-- A custom formatted footer cell  for field 'name' -->
              <strong @click.stop></strong>
              </template>
              <template slot="FOOT_qt_lancamento" slot-scope="items">
              <!-- A custom formatted footer cell  for field 'name' -->
              <strong @click.stop>{{ total_procedimentos_tabela }}</strong>
              </template>
              <template slot="FOOT_vl_liberado" slot-scope="items">
              <!-- A custom formatted footer cell  for field 'name' -->
              <strong @click.stop>{{ total_liberado_tabela }} </strong>
              </template>
              <template slot="FOOT_nm_convenio" slot-scope="items">
              <!-- A custom formatted footer cell  for field 'name' -->
              <strong @click.stop></strong>
              </template>
              <template slot="FOOT_ds_multi_empresa" slot-scope="items">
              <!-- A custom formatted footer cell  for field 'name' -->
              <strong @click.stop></strong>
              </template>
          </b-table>
          </div>
          <b-row>
              <b-col md="6" class="my-1">
              <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
              </b-col>
          </b-row>
          <div class="row">
            <div class="col-md-7">
              <b-popover target="exPopoverReactive7"
                        triggers="click"
                        :show.sync="popoverShow7"
                        placement="bottom"
                        ref="popover"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onClose" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar Atendimentos
                </template>
                <div>
                  <v-select multiple :options="input7" placeholder=" Selecione o Atendimento " v-model="atendimentos">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear7" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive1"
                        triggers="click"
                        :show.sync="popoverShow"
                        placement="bottom"
                        ref="popover"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onClose" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar Procedimentos
                </template>
                <div>
                  <v-select multiple :options="input" placeholder=" Selecione o Procedimento " v-model="procedimentos">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive6"
                        triggers="click"
                        :show.sync="popoverShow6"
                        placement="bottom"
                        ref="popover6"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onClose" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar Data de Lançamento
                </template>
                <div>
                  <v-select multiple :options="input6" placeholder=" Selecione a Data de Lançamento " v-model="lancamento">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear6" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive2"
                        triggers="click"
                        :show.sync="popoverShow2"
                        placement="bottom"
                        ref="popover2"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onClose" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar Convênios
                </template>
                <div>
                  <v-select multiple :options="input2" placeholder=" Selecione o Convênio " v-model="convenios">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear2" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive3"
                        triggers="click"
                        :show.sync="popoverShow3"
                        placement="bottom"
                        ref="popover3"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onClose" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar Hospital
                </template>
                <div>
                  <v-select multiple :options="input3" placeholder=" Selecione o Hospital " v-model="hospitais">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear3" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
        </b-tab>
        <b-tab title="Manual">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
          <div class="input-group">
              <input type="text" class="form-control" v-model="filter2" placeholder="Pesquisar">
              <div class="input-group-btn">
              <button type="button" class="btn btn-default" :disabled="!filter2" @click="filtrar5">Pesquisar</button>
              </div>
          </div>
          </div>
          </div>
          <br>
          <b-table ref="table" striped outlined
          responsive
          hover show-empty stacked="md"
          :items="items2"
          :fields="fields2"
          :current-page="currentPage2"
          :per-page="perPage2"
          :filter="filter2"
          :sort-by.sync="sortBy2"
          :sort-desc.sync="sortDesc2"
          @filtered="onFiltered2"
          :empty-filtered-text="this.$tbSearchData"
          :empty-text="this.$tbNoData"
          foot-clone
          >
          <template slot="HEAD_cd_repasse" slot-scope="items">
            <button size="sm" id="exPopoverReactive8"
              :disabled="popoverShow8"
              variant="primary"
              class="btn btn-icon-mv-filtro-manual">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="HEAD_ds_multi_empresa" slot-scope="items">
            <button size="sm" id="exPopoverReactive5"
              :disabled="popoverShow5"
              variant="primary"
              class="btn btn-icon-mv-filtro-manual">
              <span class="mv-basico-filtro mv-basico-icon-btn ">
                <span class="mv-basico-texto-filtro ">
                  {{items.label}}
                </span>
              </span>
            </button>
          </template>
          <template slot="FOOT_cd_repasse" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>Total</strong>
          </template>
          <template slot="FOOT_ds_repasse" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_ds_multi_empresa" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_dt_competencia" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop></strong>
          </template>
          <template slot="FOOT_valor" slot-scope="items">
          <!-- A custom formatted footer cell  for field 'name' -->
          <strong @click.stop>{{ total_liberado_tabela_manual }} </strong>
          </template>
          </b-table>
          <b-row>
            <b-col md="6" class="my-1">
            <b-pagination :total-rows="totalRows2" :per-page="perPage2" v-model="currentPage2" class="my-0" />
            </b-col>
          </b-row>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive8"
                        triggers="click"
                        :show.sync="popoverShow8"
                        placement="bottom"
                        ref="popover8"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onCloseManual" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar Repasse
                </template>
                <div>
                  <v-select multiple :options="input8" placeholder=" Selecione o Repasse " v-model="codigoManual">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear8" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar5" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <b-popover target="exPopoverReactive5"
                        triggers="click"
                        :show.sync="popoverShow5"
                        placement="bottom"
                        ref="popover5"
                        @show="onShow">
                <template slot="title">
                  <b-btn @click="onCloseManual" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true"> &times;</span>
                  </b-btn>
                  Filtrar Hospital
                </template>
                <div>
                  <v-select multiple :options="input5" placeholder=" Selecione o Hospital " v-model="hospitaisManual">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                  <br>
                  <b-btn @click="onClear5" size="sm" variant="danger">Limpar</b-btn>
                  <b-btn @click="filtrar5" size="sm" variant="primary">Filtrar</b-btn>
                </div>
              </b-popover>
            </div>
          </div>
        </b-tab>
      </b-tabs>
    </b-card>

  </div>
</template>

<script>
import RepasseService from '@/domain/producao/RepasseService.js';
import Card from '@/components/Card'
import EventBus from '@/EventBus/event-bus';
import capitalizer from '@/utils/captalize.js';
var moment = require('moment');
var currencyFormatter = require('currency-formatter');

export default {
  name: 'Total Repassado',
  mixins: [capitalizer],
  data () {
    return {
      filter: null,
      filter2: null,
      items: [],
      items2: [],
      fields: [
        { key: 'cd_atendimento', label: 'Atendimento' },
        { key: 'nm_paciente', label: 'Paciente' },
        { key: 'ds_pro_fat', label: 'Procedimento' },
        { key: 'data_exibicao', label: 'Data' },
        { key: 'qt_lancamento', label: 'Quantidade' },
        { key: 'vl_liberado', label: 'Valor' },
        { key: 'nm_convenio', label: 'Convênio' },
        { key: 'ds_multi_empresa', label: 'Hospital' }
      ],
      fields2: [
        { key: 'cd_repasse', label: 'Código' },
        { key: 'ds_repasse', label: 'Repasse' },
        { key: 'ds_multi_empresa', label: 'Hospital' },
        { key: 'dt_competencia', label: 'Competência' },
        { key: 'valor', label: 'Valor' }
      ],
      totalRows: 0,
      perPage: 10,
      currentPage: 1,
      sortBy: 'cd_atendimento',
      sortDesc: false,
      sortDirection: 'Ascending',
      totalRows2: 0,
      perPage2: 10,
      currentPage2: 1,
      sortBy2: 'cd_atendimento',
      sortDesc2: false,
      sortDirection2: 'Ascending',
      EVENT_DATA: this.$store.state.route.path + '-EVENT_DATA',
      total_procedimentos: 0,
      total_liberado_repasse: 0,
      total_procedimentos_tabela: 0,
      total_liberado_tabela: 0,
      total_liberado_tabela_manual: 0,
      popoverShow: false,
      popoverShow2: false,
      popoverShow3: false,
      popoverShow5: false,
      popoverShow6: false,
      popoverShow7: false,
      popoverShow8: false,
      input: [],
      input2: [],
      input3: [],
      input5: [],
      input6: [],
      input7: [],
      input8: [],
      procedimentos: [],
      convenios: [],
      hospitais: [],
      lancamento: [],
      originalItems: [],
      originalItemsManual: [],
      hospitaisManual: [],
      atendimentos: [],
      codigoManual: []
    }
  },
  components: {
    Card
  },
  methods: {
    onClose () {
      this.filtrar();
    },
    filtrar () {
      var aux = [];
      this.items = this.originalItems;
      if (this.procedimentos.length > 0) {
        for (var i in this.items) {
          if (this.procedimentos.includes(this.items[i].ds_pro_fat)) {
            aux.push(this.items[i])
          }
        }
        this.items = aux;
      }
      this.popoverShow = false;
      this.filtrar2();
    },
    filtrar2 () {
      var aux = [];
      if (this.convenios.length > 0) {
        for (var j in this.items) {
          if (this.convenios.includes(this.items[j].nm_convenio)) {
            aux.push(this.items[j])
          }
        }
        this.items = aux;
      }
      this.popoverShow2 = false;
      this.filtrar3();
    },
    filtrar3 () {
      var aux = [];
      if (this.hospitais.length > 0) {
        for (var j in this.items) {
          if (this.hospitais.includes(this.items[j].ds_multi_empresa)) {
            aux.push(this.items[j])
          }
        }
        this.items = aux;
      }
      this.popoverShow3 = false;
      this.filtrar6();
    },
    filtrar6 () {
      var aux = [];
      if (this.lancamento.length > 0) {
        for (var j in this.items) {
          if (this.lancamento.includes(this.items[j].data_exibicao)) {
            aux.push(this.items[j])
          }
        }
        this.items = aux;
      }
      this.popoverShow6 = false;
      this.filtrar7();
    },
    filtrar7 () {
      var aux = [];
      if (this.atendimentos.length > 0) {
        for (var j in this.items) {
          if (this.atendimentos.includes(this.items[j].cd_atendimento)) {
            aux.push(this.items[j])
          }
        }
        this.items = aux;
      }
      this.popoverShow7 = false;
    },
    onCloseManual () {
      this.filtrar5();
    },
    filtrar5 () {
      this.items2 = this.originalItemsManual;
      var aux = [];
      if (this.hospitaisManual.length > 0) {
        for (var j in this.items2) {
          if (this.hospitaisManual.includes(this.items2[j].ds_multi_empresa)) {
            aux.push(this.items2[j])
          }
        }
        this.items2 = aux;
      }
      this.popoverShow5 = false;
      this.filtrar8();
    },
    filtrar8 () {
      var aux = [];
      if (this.codigoManual.length > 0) {
        for (var j in this.items2) {
          if (this.codigoManual.includes(this.items2[j].cd_repasse)) {
            aux.push(this.items2[j])
          }
        }
        this.items2 = aux;
      }
      this.popoverShow8 = false;
    },
    onClear () {
      this.procedimentos = [];
      this.onClose();
    },
    onClear2 () {
      this.convenios = [];
      this.onClose();
    },
    onClear3 () {
      this.hospitais = [];
      this.onClose();
    },
    onClear5 () {
      this.hospitaisManual = [];
      this.onCloseManual();
    },
    onClear6 () {
      this.lancamento = [];
      this.onClose();
    },
    onClear7 () {
      this.atendimentos = [];
      this.onClose();
    },
    onClear8 () {
      this.codigoManual = [];
      this.onClose();
    },
    onShow () {
      /* This is called just before the popover is shown */
    },
    onFiltered (filteredItems) {
      this.total_procedimentos_tabela = 0;
      this.total_liberado_tabela = 0;
      for (var i = 0; i < filteredItems.length; i++) {
        this.total_procedimentos_tabela += filteredItems[i].qt_lancamento;
        filteredItems[i].vl_liberado = currencyFormatter.unformat(filteredItems[i].vl_liberado, { code: 'BRL' })
        this.total_liberado_tabela += filteredItems[i].vl_liberado;
        filteredItems[i].vl_liberado = currencyFormatter.format(filteredItems[i].vl_liberado, { code: 'BRL' });
      }
      this.total_liberado_tabela = currencyFormatter.format(this.total_liberado_tabela, { code: 'BRL' });
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    onFiltered2 (filteredItems) {
      this.total_liberado_tabela_manual = 0;
      for (var i = 0; i < filteredItems.length; i++) {
        filteredItems[i].valor = currencyFormatter.unformat(filteredItems[i].valor, { code: 'BRL' })
        this.total_liberado_tabela_manual += filteredItems[i].valor;
        filteredItems[i].valor = currencyFormatter.format(filteredItems[i].valor, { code: 'BRL' });
      }
      this.total_liberado_tabela_manual = currencyFormatter.format(this.total_liberado_tabela_manual, { code: 'BRL' });
      this.totalRows2 = filteredItems.length
      this.currentPage2 = 1
    },
    pegaLiberado () {
      this.total_procedimentos = 0;
      this.total_liberado_repasse = 0;
      let loader = this.$loading.show();
      this.service.buscaLiberadoCompetencia(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            this.totalRows = res.data.length;
            for (var i = 0; i < res.data.length; i++) {
              this.total_liberado_repasse += res.data[i].vl_liberado;
              this.total_procedimentos += res.data[i].qt_lancamento;
              res.data[i].dt_competencia = moment(res.data[i].dt_competencia).add(6, 'hours');
              res.data[i].dt_competencia = moment(res.data[i].dt_competencia).format('MM/YYYY');
              res.data[i].vl_confirmado = currencyFormatter.format(res.data[i].vl_confirmado, { code: 'BRL' });
              res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
              res.data[i].ds_multi_empresa = this.captalize(res.data[i].ds_multi_empresa);
              res.data[i].cd_atendimento = res.data[i].cd_atendimento.toString();
              if (!this.input7.includes(res.data[i].cd_atendimento)) {
                this.input7.push(res.data[i].cd_atendimento);
              }
              if (!this.input3.includes(res.data[i].ds_multi_empresa)) {
                this.input3.push(res.data[i].ds_multi_empresa);
              }
              if (res.data[i].nm_convenio) {
                res.data[i].nm_convenio = this.captalize(res.data[i].nm_convenio);
                if (!this.input2.includes(res.data[i].nm_convenio)) {
                  this.input2.push(res.data[i].nm_convenio);
                }
              }
              if (res.data[i].data_exibicao) {
                res.data[i].data_exibicao = moment(res.data[i].data_exibicao).add(6, 'hours');
                res.data[i].data_exibicao = moment(res.data[i].data_exibicao).format('DD/MM/YYYY');
                if (!this.input6.includes(res.data[i].data_exibicao)) {
                  this.input6.push(res.data[i].data_exibicao);
                }
              }
              if (res.data[i].ds_pro_fat) {
                res.data[i].ds_pro_fat = this.captalize(res.data[i].ds_pro_fat);
                if (!this.input.includes(res.data[i].ds_pro_fat)) {
                  this.input.push(res.data[i].ds_pro_fat);
                }
              }
              if (res.data[i].nm_paciente) {
                res.data[i].nm_paciente = this.captalize(res.data[i].nm_paciente);
              }
            }
            this.items = res.data;
            this.originalItems = res.data;
            this.total_liberado_repasse = currencyFormatter.format(this.total_liberado_repasse, { code: 'BRL' });
            loader.hide();
          }, err => {
            console.log(err);
            loader.hide();
          });
      // *
      // REPASSE MANUAL
      // *
      this.service.buscaLiberadoCompetenciaManual(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            for (var i = 0; i < res.data.length; i++) {
              res.data[i].cd_repasse = res.data[i].cd_repasse.toString();
              if (!this.input8.includes(res.data[i].cd_repasse)) {
                this.input8.push(res.data[i].cd_repasse);
              }
              // res.data[i].ds_repasse = this.captalize(res.data[i].ds_repasse);
              res.data[i].ds_multi_empresa = this.captalize(res.data[i].ds_multi_empresa);
              if (!this.input5.includes(res.data[i].ds_multi_empresa)) {
                this.input5.push(res.data[i].ds_multi_empresa);
              }
              res.data[i].dt_competencia = moment(res.data[i].dt_competencia).add(6, 'hours');
              res.data[i].dt_competencia = moment(res.data[i].dt_competencia).format('MM/YYYY');
              this.total_liberado_repasse += res.data[i].valor;
              res.data[i].valor = currencyFormatter.format(res.data[i].valor, { code: 'BRL' });
            }
            this.items2 = res.data;
            this.originalItemsManual = res.data;
          }, err => {
            console.log(err);
            loader.hide();
          });
    }
  },
  beforeDestroy () {
    EventBus.$off(this.EVENT_DATA, this.pegaDados)
  },
  created () {
    this.service = new RepasseService();
    this.pegaLiberado()
    EventBus.$on(this.EVENT_DATA, (data) => {
      this.pegaLiberado()
    });
  }
}
</script>