<template>
    <div v-if="status != null">
      <div v-if="status === true">
        <b-alert :show="5" dismissible variant="success" @dismissed="dismissCountDown=0">
          <h4>
            <i class="icon fa fa-check"></i>{{msgTitulo}}
          </h4>
          {{msgCorpo}}
        </b-alert>
      </div>
      <div v-else>

        <b-alert :show="5" dismissible variant="danger" @dismissed="dismissCountDown=0">
          <h4>
            <i class="icon fa fa-times"></i>{{msgTitulo}}
          </h4>
          {{msgCorpo}}
        </b-alert>
      </div>
    </div>
</template>

<script>

export default {
  name: 'AlertDismissible',
  props: ['msgTitulo', 'msgCorpo', 'status']
};
</script>
