<template>
    <div class="info-box">
        <div class="info-box-content">
            <span class="info-box-number">{{valor}}</span>
            <span class="info-box-text">{{msgCard}}</span>
        </div>
    </div>
</template>

<script>

export default {
  name: 'Card',
  props: ['valor', 'msgCard']
};
</script>
<style>
.box-body{
  margin-top: 10px;
  background: #f5f5f5;
}
.info-box {
  margin-left: 15px;
}
.info-box-content {
  margin-left: 5px;
}
.info-box-number {
  font-size: 23px;
}
a.boxBord{
   color: #666666;
}
a.boxBord:hover {
  color: #4D7498;
}
</style>