<template>
  <div>
    <tb-equipe-medica></tb-equipe-medica>
    <hr>
    <tb-equipe-medica-prest></tb-equipe-medica-prest>
  </div>
</template>

<script>
import EquipeMedicaService from '@/domain/EquipeMedica/EquipeMedicaService.js';
import tbEquipeMedica from '@/pages/equipeMedica/components/tbEquipeMedica';
import tbEquipeMedicaPrest from '@/pages/equipeMedica/components/tbEquipeMedicaPrest';
import EventBus from '@/EventBus/event-bus';
import capitalizer from '@/utils/captalize.js';
var currencyFormatter = require('currency-formatter');

export default {
  name: 'ChefeEquipeMedica',
  mixins: [capitalizer],
  data () {
    return {
      cdEquipe: null,
      EVENT_DATA: this.$store.state.route.path + '-EVENT_DATA'
    }
  },
  methods: {
    listarEquipes () {
      let loader = this.$loading.show();
      this.service
        .findEquipeMedicaValor(
          this.$store.state.cliente.cd_prestador,
          this.$store.state.dataCalendario,
          this.$store.state.cliente.cd_cliente)
        .then(
          res => {
            for (let i = 0; i < res.data.length; i++) {
              // Capitura a primeira equipe medica da lista
              if (i === 0) {
                this.cdEquipe = res.data[i].cd_equipe;
                this.cd_multi_empresa = res.data[i].cd_multi_empresa
              }
              res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
            }
            // Envia o evento para atualiza o componete da tabela
            EventBus.$emit('EQUIPE-EVENT_DATA', res.data);
            // Executa a função para listar os prestadores da equipe;
            if (this.cdEquipe != null) {
              loader.hide();
              this.listarEquipesPrest(this.cdEquipe, this.cd_multi_empresa);
            }
            loader.hide();
          }, err => {
            loader.hide();
            console.log(err);
          });
    },
    listarEquipesPrest (cdEquipe, cdMultiEmpresa) {
      let loader = this.$loading.show();
      this.service
        .findAllEquipeMedicaPorPrestadoValor(
          this.$store.state.cliente.cd_prestador,
          this.$store.state.dataCalendario,
          cdEquipe,
          this.$store.state.cliente.cd_cliente,
          cdMultiEmpresa)
        .then(
          res => {
            for (let i = 0; i < res.data.length; i++) {
              res.data[i].vl_liberado = currencyFormatter.format(res.data[i].vl_liberado, { code: 'BRL' });
            }
            // Envia o evento para atualiza o componete da tabela
            EventBus.$emit('EQUIPE-PREST-EVENT_DATA', res.data)
            loader.hide();
          }, err => {
            loader.hide();
            console.log(err);
          });
    }
  },
  beforeDestroy () {
    EventBus.$off('RBACK-EQUIPE-PREST-EVENT_DATA');
    EventBus.$off(this.EVENT_DATA);
  },
  created () {
    this.service = new EquipeMedicaService();
    this.listarEquipes();
    // Captura rollBack do primeiro componete da tabela
    EventBus.$on('RBACK-EQUIPE-PREST-EVENT_DATA', (data) => {
      this.listarEquipesPrest(data.cd_equipe, data.cd_multi_empresa);
    });
    // Atualiza componetes com a nova data
    EventBus.$on(this.EVENT_DATA, (data) => {
      this.listarEquipes();
    });
  },
  components: {
    tbEquipeMedica,
    tbEquipeMedicaPrest
  }
};
</script>
