<template>
  <div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" v-model="filter" placeholder="Pesquisar">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default" :disabled="!filter" @click="onOk">Pesquisar</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <b-table ref="table" striped outlined
    hover show-empty stacked="md"
    :items="items"
    :fields="fields"
    :current-page="currentPage"
    :per-page="perPage"
    :filter="filter"
    :sort-by.sync="sortBy"
    :sort-desc.sync="sortDesc"
    @filtered="onFiltered"
    :empty-filtered-text="this.$tbSearchData"
    :empty-text="this.$tbNoData">
    <template slot="HEAD_data_exibicao" slot-scope="items">
      <button size="sm" id="exPopoverReactive6"
        :disabled="popoverShow6"
        variant="primary"
        class="btn btn-icon-mv-filtro">
        <span class="mv-basico-filtro mv-basico-icon-btn ">
          <span class="mv-basico-texto-filtro ">
            {{items.label}}
          </span>
        </span>
      </button>
    </template>
    <template slot="HEAD_ds_pro_fat" slot-scope="items">
     <button size="sm" id="exPopoverReactive1"
        :disabled="popoverShow"
        variant="primary"
        class="btn btn-icon-mv-filtro">
        <span class="mv-basico-filtro mv-basico-icon-btn ">
          <span class="mv-basico-texto-filtro ">
            {{items.label}}
          </span>
        </span>
      </button>
    </template>
    <template slot="HEAD_ds_multi_empresa" slot-scope="items">
      <button size="sm" id="exPopoverReactive2"
        :disabled="popoverShow2"
        variant="primary"
        class="btn btn-icon-mv-filtro">
        <span class="mv-basico-filtro mv-basico-icon-btn ">
          <span class="mv-basico-texto-filtro ">
            {{items.label}}
          </span>
        </span>
      </button>
    </template>
    <template slot="HEAD_tp_consulta" slot-scope="items">
      <button size="sm" id="exPopoverReactive3"
        :disabled="popoverShow3"
        variant="primary"
        class="btn btn-icon-mv-filtro">
        <span class="mv-basico-filtro mv-basico-icon-btn ">
          <span class="mv-basico-texto-filtro ">
            {{items.label}}
          </span>
        </span>
      </button>
    </template>
    <template slot="HEAD_cd_atendimento" slot-scope="items">
      <button size="sm" id="exPopoverReactive4"
        :disabled="popoverShow4"
        variant="primary"
        class="btn btn-icon-mv-filtro">
        <span class="mv-basico-filtro mv-basico-icon-btn ">
          <span class="mv-basico-texto-filtro ">
            {{items.label}}
          </span>
        </span>
      </button>
    </template>
    <template slot="HEAD_cd_conta" slot-scope="items">
      <button size="sm" id="exPopoverReactive5"
        :disabled="popoverShow5"
        variant="primary"
        class="btn btn-icon-mv-filtro">
        <span class="mv-basico-filtro mv-basico-icon-btn ">
          <span class="mv-basico-texto-filtro ">
            {{items.label}}
          </span>
        </span>
      </button>
    </template>
  </b-table>
  <b-row>
    <b-col md="6" class="my-1">
      <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
    </b-col>
  </b-row>
  <!-- Our popover title and content render container -->
    <!-- We use placement 'auto' so popover fits in the best spot on viewport -->
    <!-- We specify the same container as the trigger button, so that popover is close to button -->
    <div class="row">
     <div class="col-md-4">
      <b-popover target="exPopoverReactive1"
                triggers="click"
                :show.sync="popoverShow"
                placement="bottom"
                ref="popover"
                @show="onShow">
        <template slot="title">
          <b-btn @click="onClose" class="close" aria-label="Close">
            <span class="d-inline-block" aria-hidden="true"> &times;</span>
          </b-btn>
          Filtrar Procedimentos
        </template>
        <div>
          <v-select multiple :options="input" placeholder=" Selecione o Procedimento " v-model="procedimentos">
            <span slot="no-options">
              Não encontrado
            </span>
          </v-select>
          <br>
          <b-btn @click="onClear" size="sm" variant="danger">Limpar</b-btn>
          <b-btn @click="onOk" size="sm" variant="primary">Filtrar</b-btn>
        </div>
       </b-popover>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <b-popover target="exPopoverReactive2"
                    triggers="click"
                    :show.sync="popoverShow2"
                    placement="bottom"
                    ref="popover2"
                    @show="onShow">
            <template slot="title">
              <b-btn @click="onClose" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true"> &times;</span>
              </b-btn>
              Filtrar Hospital
            </template>
            <div>
              <v-select multiple :options="input2" placeholder=" Selecione o Hospital " v-model="hospitais">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
              <br>
              <b-btn @click="onClear2" size="sm" variant="danger">Limpar</b-btn>
              <b-btn @click="onOk" size="sm" variant="primary">Filtrar</b-btn>
            </div>
          </b-popover>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b-popover target="exPopoverReactive3"
                    triggers="click"
                    :show.sync="popoverShow3"
                    placement="bottom"
                    ref="popover3"
                    @show="onShow">
            <template slot="title">
              <b-btn @click="onClose" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true"> &times;</span>
              </b-btn>
              Filtrar Status
            </template>
            <div>
              <v-select multiple :options="input3" placeholder=" Selecione o Status " v-model="status">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
              <br>
              <b-btn @click="onClear3" size="sm" variant="danger">Limpar</b-btn>
              <b-btn @click="onOk" size="sm" variant="primary">Filtrar</b-btn>
            </div>
          </b-popover>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b-popover target="exPopoverReactive4"
                    triggers="click"
                    :show.sync="popoverShow4"
                    placement="bottom"
                    ref="popover4"
                    @show="onShow">
            <template slot="title">
              <b-btn @click="onClose" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true"> &times;</span>
              </b-btn>
              Filtrar Atendimentos
            </template>
            <div>
              <v-select multiple :options="input4" placeholder=" Selecione o Atendimento " v-model="atendimentos">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
              <br>
              <b-btn @click="onClear4" size="sm" variant="danger">Limpar</b-btn>
              <b-btn @click="onOk" size="sm" variant="primary">Filtrar</b-btn>
            </div>
          </b-popover>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b-popover target="exPopoverReactive5"
                    triggers="click"
                    :show.sync="popoverShow5"
                    placement="bottom"
                    ref="popover5"
                    @show="onShow">
            <template slot="title">
              <b-btn @click="onClose" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true"> &times;</span>
              </b-btn>
              Filtrar Contas
            </template>
            <div>
              <v-select multiple :options="input5" placeholder=" Selecione a Conta " v-model="contas">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
              <br>
              <b-btn @click="onClear5" size="sm" variant="danger">Limpar</b-btn>
              <b-btn @click="onOk" size="sm" variant="primary">Filtrar</b-btn>
            </div>
          </b-popover>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <b-popover target="exPopoverReactive6"
                    triggers="click"
                    :show.sync="popoverShow6"
                    placement="bottom"
                    ref="popover6"
                    @show="onShow">
            <template slot="title">
              <b-btn @click="onClose" class="close" aria-label="Close">
                <span class="d-inline-block" aria-hidden="true"> &times;</span>
              </b-btn>
              Filtrar Data de Lançamento
            </template>
            <div>
              <v-select multiple :options="input6" placeholder=" Selecione a Data " v-model="lancamentos">
                <span slot="no-options">
                  Não encontrado
                </span>
              </v-select>
              <br>
              <b-btn @click="onClear6" size="sm" variant="danger">Limpar</b-btn>
              <b-btn @click="onOk" size="sm" variant="primary">Filtrar</b-btn>
            </div>
          </b-popover>
        </div>
      </div>
  </div>
</template>

<script>
import RepasseService from '@/domain/producao/RepasseService.js';
import capitalizer from '@/utils/captalize.js';
import EventBus from '@/EventBus/event-bus';
var moment = require('moment');

export default {
  name: 'Atendimentos',
  mixins: [capitalizer],
  data () {
    return {
      filter: null,
      items: [],
      fields: [
        { key: 'data_exibicao', label: 'Data' },
        { key: 'tp_consulta', label: 'Status' },
        { key: 'ds_multi_empresa', label: 'Hospital' },
        { key: 'cd_atendimento', label: 'Atendimento' },
        { key: 'cd_conta', label: 'Conta' },
        { key: 'nm_paciente', label: 'Paciente' },
        { key: 'ds_pro_fat', label: 'Procedimento' }
      ],
      totalRows: 0,
      perPage: 10,
      currentPage: 1,
      sortBy: 'data_exibicao',
      sortDesc: false,
      sortDirection: 'Ascending',
      EVENT_DATA: this.$store.state.route.path + '-EVENT_DATA',
      popoverShow: false,
      popoverShow2: false,
      popoverShow3: false,
      popoverShow4: false,
      popoverShow5: false,
      popoverShow6: false,
      input: [],
      input2: [],
      input3: [],
      input4: [],
      input5: [],
      input6: [],
      procedimentos: [],
      hospitais: [],
      status: [],
      atendimentos: [],
      contas: [],
      lancamentos: [],
      originalItems: []
    }
  },
  methods: {
    onClose () {
      this.onOk();
      // this.popoverShow = false;
    },
    onOk () {
      var aux = [];
      this.items = this.originalItems;
      if (this.procedimentos.length > 0) {
        for (var i in this.originalItems) {
          if (this.procedimentos.includes(this.originalItems[i].ds_pro_fat)) {
            aux.push(this.originalItems[i])
          }
        }
      }
      if (aux.length > 0) {
        this.items = aux;
      } else {
        this.items = this.originalItems;
      }
      this.popoverShow = false;
      this.filtrar2();
    },
    filtrar2 () {
      var aux = [];
      if (this.hospitais.length > 0) {
        for (var j in this.items) {
          if (this.hospitais.includes(this.items[j].ds_multi_empresa)) {
            aux.push(this.items[j])
          }
        }
      }
      if (aux.length > 0) {
        this.items = aux;
      }
      this.popoverShow2 = false;
      this.filtrar3();
    },
    filtrar3 () {
      var aux = [];
      if (this.status.length > 0) {
        for (var j in this.items) {
          if (this.status.includes(this.items[j].tp_consulta)) {
            aux.push(this.items[j])
          }
        }
      }
      if (aux.length > 0) {
        this.items = aux;
      }
      this.popoverShow3 = false;
      this.filtrar4();
    },
    filtrar4 () {
      var aux = [];
      if (this.atendimentos.length > 0) {
        for (var j in this.items) {
          if (this.atendimentos.includes(this.items[j].cd_atendimento)) {
            aux.push(this.items[j])
          }
        }
      }
      if (aux.length > 0) {
        this.items = aux;
      }
      this.popoverShow4 = false;
      this.filtrar5();
    },
    filtrar5 () {
      var aux = [];
      if (this.contas.length > 0) {
        for (var j in this.items) {
          if (this.contas.includes(this.items[j].cd_conta)) {
            aux.push(this.items[j])
          }
        }
      }
      if (aux.length > 0) {
        this.items = aux;
      }
      this.popoverShow5 = false;
      this.filtrar6();
    },
    filtrar6 () {
      var aux = [];
      if (this.lancamentos.length > 0) {
        for (var j in this.items) {
          if (this.lancamentos.includes(this.items[j].data_exibicao)) {
            aux.push(this.items[j])
          }
        }
      }
      if (aux.length > 0) {
        this.items = aux;
      }
      this.popoverShow6 = false;
    },
    onClear () {
      this.procedimentos = [];
      this.onOk();
    },
    onClear2 () {
      this.hospitais = [];
      this.onOk();
    },
    onClear3 () {
      this.status = [];
      this.onOk();
    },
    onClear4 () {
      this.atendimentos = [];
      this.onOk();
    },
    onClear5 () {
      this.contas = [];
      this.onOk();
    },
    onClear6 () {
      this.lancamentos = [];
      this.onOk();
    },
    onShow () {
      /* This is called just before the popover is shown */
    },
    onFiltered (filteredItems) {
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    limpaFiltros () {
      this.input = [];
      this.input2 = [];
      this.input3 = [];
      this.input4 = [];
      this.input5 = [];
      this.input6 = [];
      this.procedimentos = [];
      this.hospitais = [];
      this.atendimentos = [];
      this.contas = [];
      this.status = [];
      this.lancamentos = [];
      this.originalItems = [];
    },
    pegaAtendimento () {
      let loader = this.$loading.show();
      this.limpaFiltros();
      this.service.buscaAtendimento(
        this.$store.state.dataCalendario,
        this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            this.totalRows = res.data.length;
            for (var i = 0; i < res.data.length; i++) {
              res.data[i].data_exibicao = moment(res.data[i].data_exibicao).add(6, 'hours');
              res.data[i].data_exibicao = moment(res.data[i].data_exibicao).format('DD/MM/YYYY');
              if (!this.input6.includes(res.data[i].data_exibicao)) {
                this.input6.push(res.data[i].data_exibicao);
              }
              if (res.data[i].tp_consulta === 'A_RECEBER') {
                res.data[i].tp_consulta = 'Repassado';
              } else {
                res.data[i].tp_consulta = 'Pendente';
              }
              if (!this.input3.includes(res.data[i].tp_consulta)) {
                this.input3.push(res.data[i].tp_consulta);
              }
              res.data[i].tp_consulta = this.captalize(res.data[i].tp_consulta)
              res.data[i].ds_multi_empresa = this.captalize(res.data[i].ds_multi_empresa)
              if (!this.input2.includes(res.data[i].ds_multi_empresa)) {
                this.input2.push(res.data[i].ds_multi_empresa);
              }
              res.data[i].cd_atendimento = res.data[i].cd_atendimento.toString();
              if (!this.input4.includes(res.data[i].cd_atendimento)) {
                this.input4.push(res.data[i].cd_atendimento);
              }
              res.data[i].cd_conta = res.data[i].cd_conta.toString();
              if (!this.input5.includes(res.data[i].cd_conta)) {
                this.input5.push(res.data[i].cd_conta);
              }
              if (res.data[i].nm_paciente) {
                res.data[i].nm_paciente = this.captalize(res.data[i].nm_paciente)
              }
              if (res.data[i].ds_pro_fat) {
                res.data[i].ds_pro_fat = res.data[i].cd_pro_fat + ' - ' + this.captalize(res.data[i].ds_pro_fat)
                res.data[i].ds_pro_fat = this.captalize(res.data[i].ds_pro_fat)
                if (!this.input.includes(res.data[i].ds_pro_fat)) {
                  this.input.push(res.data[i].ds_pro_fat);
                }
              }
            }
            this.items = res.data;
            this.originalItems = res.data;
            loader.hide();
          }, err => {
            console.log(err);
            loader.hide();
          });
    }
  },
  beforeDestroy () {
    EventBus.$off(this.EVENT_DATA, this.pegaDados)
  },
  created () {
    this.service = new RepasseService();
    this.pegaAtendimento()
    EventBus.$on(this.EVENT_DATA, (data) => {
      this.pegaAtendimento()
    });
  }
}
</script>
