<template>
  <div class="wrapper">
    <div v-if="$store.getters.isLoggedIn">
      <div >
        <app-header></app-header>
        <app-sidebar></app-sidebar>
        <app-content></app-content>
        <app-notification></app-notification>
      </div>
    </div>
    <div v-if="!$store.getters.isLoggedIn">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import AppHeader from '@/pages/layouts/Header'
import AppSidebar from '@/pages/layouts/Sidebar'
import AppContent from '@/pages/layouts/Content'
import AppNotification from '@/pages/layouts/Notification'
import AppLogin from '@/pages/login/Login'

export default {
  name: 'App',
  data () {
    return {
      login: true
    }
  },
  components: {
    AppHeader,
    AppSidebar,
    AppContent,
    AppNotification,
    AppLogin
  }
}
</script>
<style scoped>
</style>
