<template>
    <div class="d-flex flex-column mv-titulo menu-mini">
        <h7 class="mb-2"> REPMED </h7>
        <h7> Versão 0.0.1 </h7>
        <h7 class="mb-4" > MV Copyright 2018 </h7>
        <a href="www.mv.com.br">www.mv.com.br</a>
    </div>
</template>
<script>
export default {
  name: 'sobre',
  data () {
    return {
    }
  }
};
</script>
<style>
.mv-titulo{
  font-size: 14;
  font-family: 'Open Sans', 'Bold';
  color: '#666666';
 }
</style>