<template>
<div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mb-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Pesquisar">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default">Pesquisar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <router-link :to="{ path: '/ajuda/faq'}" replace>
        <div class="info-box">
          <div class="info-box-content">
            <div class="row pt-3">
              <div class="mv-basico-faq"></div>
              <span class="info-box-text pl-3">FAQ</span>
            </div>
          </div>
        </div>
      </router-link>
      <router-link :to="{ path: '/ajuda/guias'}" replace>
        <div class="info-box">
          <div class="info-box-content">
            <div class="row pt-3">
              <div class="mv-basico-faq"></div>
              <span class="info-box-text pl-3">Guias</span>
            </div>
          </div>
        </div>
      </router-link>
      <router-link :to="{ path: '/ajuda/manuais'}" replace>
        <div class="info-box">
          <div class="info-box-content">
            <div class="row pt-3">
              <div class="mv-basico-faq"></div>
              <span class="info-box-text pl-3">Manuais</span>
            </div>
          </div>
        </div>
      </router-link>
      <router-link :to="{ path: '/ajuda/release'}" replace>
        <div class="info-box">
          <div class="info-box-content">
            <div class="row pt-3">
              <div class="mv-basico-faq"></div>
              <span class="info-box-text pl-3">Release Notes</span>
            </div>
          </div>
        </div>
      </router-link>
      <router-link :to="{ path: '/ajuda/informacoes'}" replace>
        <div class="info-box">
          <div class="info-box-content">
            <div class="row pt-3">
              <div class="mv-basico-faq"></div>
              <span class="info-box-text pl-3">Informações Técnicas</span>
            </div>
          </div>
        </div>
      </router-link>
    </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'suporte',
  data () {
    return {
    }
  }
};
</script>

<style>
</style>
