<template>
    <div>
        <alert-dismissible :msgTitulo="alertTitulo" :msgCorpo="alertCorpo" :status="alertStatus"></alert-dismissible>
        <div class='container'>
        <div class='row'>
            <div class='col-md'>
            <div class="form-group">
                <label>Nova Senha</label>
                <input type="password" name='novasenha' v-model="novasenha" id="novasenha" :class="errors.has('novasenha') ? 'form-control is-invalid' : 'form-control'" placeholder="Informa a senha" v-validate="'required|min:5'">
                <span class="invalid-feedback" v-show="errors.has('novasenha')">{{ errors.first('novasenha') }}</span>
            </div>
            </div>
            <div class='col-md'>
            <div class="form-group">
                <label>Confirmar Senha</label>
                <input type="password" name='confirmar' v-model="confirmar" id="confirmar" :class="errors.has('confirmar') ? 'form-control is-invalid' : 'form-control'" placeholder="Confirme a senha" v-validate="'required|min:5|confirmed:novasenha'">
                <span class="invalid-feedback" v-show="errors.has('confirmar')">{{ errors.first('confirmar') }}</span>
            </div>
            </div>
        </div>
        </div>
        <div class="col-md-12" style="text-align: right;">
            <router-link :to="{ path: '/usuario'}"> <button type="button" class="btn  btn-default-mv" >Cancelar</button> </router-link>
            <button class="btn-primary-mv btn" @click="trocarSenha">
                Salvar
            </button>
        </div>
    </div>
</template>
<script>
import AlertDismissible from '@/components/AlertDismissible';
import UsuarioService from '@/domain/usuario/UsuarioService.js';

export default {
  name: 'Alterar Senha',
  components: {
    AlertDismissible
  },
  data () {
    return {
      novasenha: '',
      confirmar: '',
      alertTitulo: '',
      alertCorpo: '',
      alertStatus: null
    }
  },
  methods: {
    trocarSenha () {
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            let loader = this.$loading.show();
            this.service.trocaSenha(this.novasenha, this.$store.state.user.idusuario)
              .then(res => {
                loader.hide();
                this.alertTitulo = 'Alteração de Senha Confirmada!!';
                this.alertCorpo = 'Suas informações foram alteradas com sucesso';
                this.alertStatus = true;
                setTimeout(() => this.$store.commit('LOGOUT'), 3000);
                setTimeout(() => this.$router.push('/login'), 3000);
              },
              res => {
                loader.hide();
                this.alertTitulo = 'Alteração de Senha Cancelada';
                this.alertCorpo = 'Não foi possivel alterar sua senha! Tente Novamente mais tarde';
                this.alertStatus = false;
              });
          }
        });
    }
  },
  created () {
    this.service = new UsuarioService();
  }
};
</script>
<style scoped>
</style>
