<template>
  <div>
    <br>
    <form @submit.prevent="gravar()" enctype="multipart/form-data">
      <alert-dismissible :msgTitulo="alertTitulo" :msgCorpo="alertCorpo" :status="alertStatus"></alert-dismissible>
      <div div class="row">
        <div class="col-md-2">
          <div style="text-align: center;">
            <div class="image-upload">
              <label for="file-input">
                <img class="profile-user-img img-responsive img-circle circle-img-size" :src="url || urlImgDefault" alt="User profile picture">
              </label>
              <input id="file-input" type="file" ref="file" accept='image/*' @change="previewImage" />
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div div class="row">
            <div class="col-sm-2 col-md-2 cpf">
              <div class="form-group">
                <label>CPF</label>
                <input disabled type="text" name='cpf' v-model="usuario.cpf" :class="errors.has('cpf') ? 'form-control is-invalid' : 'form-control'" id="cpf" v-mask="'999.999.999-99'" placeholder="Informe um CPF válido" v-validate="{ required: true, regex: /[0-9]{3}\.?[0-9]{3}\.?[0-9]{3}\-?[0-9]{2}/ }">
                <span class="invalid-feedback" v-show="errors.has('cpf')">{{ errors.first('cpf') }}</span>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Nome</label>
                <input type="text" name='nome' v-model="usuario.nome" :class="errors.has('nome') ? 'form-control is-invalid' : 'form-control'" id="nome" placeholder="Informe nome completo" v-validate="'required|min:1'">
                <span class="invalid-feedback" v-show="errors.has('nome')">{{ errors.first('nome') }}</span>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label>Código</label>
                <input type="text" name='codigo' v-model="usuario.codigo" v-validate="'required|min:1'" :class="errors.has('codigo') ? 'form-control is-invalid' : 'form-control'" id="codigo">
                <span class="invalid-feedback" v-show="errors.has('codigo')">{{ errors.first('codigo') }}</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Conselho</label>
                <div :class="errors.has('conselho') ? 'erro-v-select' : ''">
                  <b-form-select name='conselho' v-validate="'required'" v-model="usuario.conselho" :options="conselho">
                    <template slot="first">
                      <option :value="null" disabled></option>
                    </template>
                  </b-form-select>
                </div>
                <span class="invalid-feedback-v-select" v-show="errors.has('conselho')">{{ errors.first('conselho') }}</span>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label>UF</label>
                <div :class="errors.has('uf_conselho') ? 'erro-v-select' : ''">
                  <b-form-select name='uf_conselho' v-validate="'required'" v-model="usuario.uf_conselho" :options="UF">
                    <template slot="first">
                      <option :value="null" disabled></option>
                    </template>
                  </b-form-select>
                </div>
                <span class="invalid-feedback-v-select" v-show="errors.has('uf_conselho')">{{ errors.first('uf_conselho') }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Endereço</label>
                <input type="text" name='endereco' v-model="usuario.endereco" :class="errors.has('endereco') ? 'form-control is-invalid' : 'form-control'" id="endereco" placeholder="Informe um Endereço" v-validate="'required|min:1'">
                <span class="invalid-feedback" v-show="errors.has('endereco')">{{ errors.first('endereco') }}</span>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label>Nº</label>
                <input type="text" name='numero' v-model="usuario.numero" :class="errors.has('numero') ? 'form-control is-invalid' : 'form-control'" id="numero" placeholder="Nº" v-validate="'required|min:1'">
                <span class="invalid-feedback" v-show="errors.has('numero')">{{ errors.first('numero') }}</span>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>CBO-S</label>
                <div :class="errors.has('cbos') ? 'erro-v-select' : ''">
                  <v-select :options="listaCbo" name='cbos' v-validate="'required'" placeholder=" -- Selecione o Codigo do CBO -- " label="DS_CBO" v-model="cobs_usuario">
                    <span slot="no-options">
                      Não encontrado
                    </span>
                  </v-select>
                </div>
                <span class="invalid-feedback-v-select" v-show="errors.has('cbos')">{{ errors.first('cbos') }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div :class="errors.has('cidade') ? 'form-group has-error' : 'form-group'">
                <label>Cidade</label>
                <input type="text" placeholder="Informe cidade" name='cidade' v-model="usuario.cidade" :class="errors.has('cidade') ? 'form-control is-invalid' : 'form-control'" id="cidade" v-validate="'required|min:1'">
                <span class="invalid-feedback" v-show="errors.has('cidade')">{{ errors.first('cidade') }}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Bairro</label>
                <input type="text" name='bairro' v-model="usuario.bairro" :class="errors.has('bairro') ? 'form-control is-invalid' : 'form-control'" id="bairro" placeholder="Informe Bairro" v-validate="'required|min:1'">
                <span class="invalid-feedback" v-show="errors.has('bairro')">{{ errors.first('bairro') }}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div :class="errors.has('estado') ? 'form-group has-error' : 'form-group'">
                <label>Estado</label>
                <div :class="errors.has('estado') ? 'erro-v-select' : ''">
                  <b-form-select v-model="usuario.estado" name='estado' :options="estado" v-validate="'required'">
                    <template slot="first">
                      <option :value="null" disabled></option>
                    </template>
                  </b-form-select>
                </div>
                <span class="invalid-feedback-v-select" v-show="errors.has('estado')">{{ errors.first('estado') }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-12" style="text-align: right;">
            <router-link :to="{ path: '/alterarsenha'}">
              <button type="button" class="btn  btn-default-mv">Alterar Senha</button>
            </router-link>
            <button type="submit" class="btn-primary-mv btn  btn-salvar-usuario"> Salvar </button>
          </div>
        </div>
      </div>
    </form>
    <div class="col-md-12 box-header with-border" style="text-align: left;">
      <small>
        <b>Clientes Associados</b>
      </small>
    </div>
    <b-table ref="table" striped outlined hover show-empty stacked="md" :current-page="currentPage" :per-page="perPage" :items="items" :fields="fields2" :empty-filtered-text="this.$tbSearchData" :empty-text="this.$tbNoData">
    </b-table>
    <b-row>
      <b-col md="12" style="text-align: right;" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-row>
  </div>
</template>
<script>
import _imgDefault from '@/assets/imgs/img-perfil-defalt.jpg';
import listaCbo from '@/utils/listCbo.js';
import Usuario from '@/domain/usuario/Usuario.js';
import UsuarioService from '@/domain/usuario/UsuarioService.js';
import ClienteService from '@/domain/cliente/ClienteService.js';
import AlertDismissible from '@/components/AlertDismissible';
import EventBus from '@/EventBus/event-bus';
import UF from '@/utils/uf.js';
import estado from '@/utils/estado.js';
import capitalizer from '@/utils/captalize.js';

export default {
  name: 'User',
  mixins: [capitalizer],
  components: {
    AlertDismissible
  },
  data () {
    return {
      show: false,
      vModelExample: null,
      usuario: new Usuario(),
      confirmar: '',
      novasenha: '',
      listaCbo,
      url: null,
      urlImgDefault: _imgDefault,
      items: [],
      // Note 'isActive' is left out and will not appear in the rendered table
      fields2: [
        { key: 'ds_cliente', label: 'Hospital', sortDirection: 'asc' },
        { key: 'cd_cnpj', label: 'CNPJ' },
        { key: 'nm_cidade', label: 'Cidade' },
        { key: 'cd_uf', label: 'UF' },
        { key: 'email', label: 'Email' }
      ],
      UF,
      estado,
      conselho: [
        { value: '1', text: 'CRM' },
        { value: '2', text: 'CFM' },
        { value: '3', text: 'CREMEPE' }
      ],
      totalRows: null,
      currentPage: 1,
      perPage: 3,
      cobs_usuario: null,
      alertTitulo: '',
      alertCorpo: '',
      alertStatus: null,
      usuariovuex: {
        nomeusuario: null,
        fotousuario: null
      },
      urlFoto: null
    };
  },
  methods: {
    previewImage (e) {
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
      const reader = new FileReader()
      reader.onload = (event) => {
        this.file = event.target.result
      }
      reader.readAsDataURL(file)
    },
    gravar () {
      this.usuario.cbos = this.cobs_usuario.CD_CBO;
      var desired = this.usuario.cpf.replace(/[-.]/gi, '');
      this.usuario.cpf = desired;
      this.usuario.foto = this.file;
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            var res = this.cobs_usuario.DS_CBO.split('-');
            const resCBOS = res[1];
            let loader = this.$loading.show();
            this.service.atualiza(this.usuario)
              .then(response => {
                this.usuariovuex.nomeusuario = this.usuario.nome;
                this.usuariovuex.fotousuario = response.data;
                this.usuariovuex.descCbousuario = resCBOS;
                this.$store.commit('UPDATE_USER', this.usuariovuex);
                this.alertTitulo = 'Usuário Salvo';
                this.alertCorpo = 'Suas informações foram alteradas com sucesso';
                this.alertStatus = true;
                EventBus.$emit('UPDATE_SIDEBAR', this.usuariovuex);
                loader.hide();
              }, response => {
                loader.hide();
              });
          }
          this.alertStatus = null;
        });
    },
    carregaFoto (foto) {
      this.urlFoto = this.$urlfoto + foto;
      this.urlImgDefault = this.$urlfoto + foto;
      this.file = this.usuario.foto;
    },
    loadUser () {
      let loader = this.$loading.show();
      this.service.busca(this.$store.state.user.idusuario).then(
        res => {
          this.usuario = res.data;
          var aux = this.usuario.cbos;
          this.cobs_usuario = listaCbo.filter(function (elem) {
            return elem.CD_CBO === aux;
          });
          this.cobs_usuario = this.cobs_usuario[0];
          loader.hide();
          this.carregaFoto(this.usuario.foto);
        }, err => {
          loader.hide();
          console.log(err);
        });
    },
    loadHospital () {
      let loader = this.$loading.show();
      this.clienteService.pegaDadosCliente(this.$store.state.cliente.cd_cliente,
        this.$store.state.cliente.cd_prestador)
        .then(
          res => {
            for (var i = 0; i < res.data.length; i++) {
              res.data[i].ds_cliente = this.captalize(res.data[i].ds_cliente);
            }
            this.items = res.data;
            this.totalRows = res.data.length;
            loader.hide();
          }, err => {
            loader.hide();
            console.log(err);
          });
    }
  },
  created () {
    this.service = new UsuarioService();
    this.clienteService = new ClienteService();
    this.loadUser();
    this.loadHospital();
  }
};
</script>
<style scoped>
.circle-img-size {
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}
.perfil {
  width: 34%;
}
.circle-img-size {
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}
.image-upload > input {
  display: none;
}
.image-upload img {
  cursor: pointer;
}
.img-circle:hover {
  border: 3px solid #e1eaf2;
}

@media (min-width: 575.98px) {
  .cpf {
    flex: auto;
    max-width: 137px;
  }
}

@media (min-width: 767.98px) {
  .cpf {
    max-width: 137px;
  }
}

@media (min-width: 991.98px) {
  .cpf {
    max-width: 137px;
  }
}

@media (min-width: 1199.98px) {
  .cpf {
    max-width: 137px;
  }
}
</style>
